._5126c0cd07f243a0-divider._5126c0cd07f243a0-hasContent:not(._908e20001ad67812-isUnread) {
    border-color: transparent;
}

._5126c0cd07f243a0-divider._5126c0cd07f243a0-hasContent ._908e20001ad67812-content {
    padding: 3px 10px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.1);
    color: var(--nox-white3);
}

#---new-messages-bar._5126c0cd07f243a0-hasContent ._908e20001ad67812-content {
    background: #2b2b2b;
}

#---new-messages-bar {
    border-top: 1px solid #f04747;
}

#---new-messages-bar:not(._5126c0cd07f243a0-hasContent):not(._5126c0cd07f243a0-beforeGroup) {
    margin-top: -3px;
    margin-bottom: 2px;
}