// invite embed
.wrapper_d5f3cd {
    border-radius: 3px;
    background-color: var(--nox-level2);
}
.wrapper_d5f3cd .flowerStar__3e3b0 path {
    fill: var(--nox-accent);
}
.guildIconExpired_d5f3cd {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
    filter: grayscale(1);
}

// bot embed
.embedFull__623de {
    border-radius: 3px;
    border-color: var(--nox-white1);
    background: var(--nox-level2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.botTagRegular__82f07 {
    background: var(--nox-accent);
}

// file embed
.fileWrapper__0ccae.fileWrapper__0ccae {
    border-radius: 2px;
    border-color: var(--nox-level3);
    background-color: var(--nox-level2);
}
.fileWrapper__0ccae .metadata__0ccae {
    color: var(--nox-white2);
}

// textfile embed
.newMosaicStyle__4d95d .textContainer__4d95d {
    border-radius: 3px 3px 0 0;
}
.newMosaicStyle__4d95d .footer__4d95d {
    border-radius: 0 0 3px 3px;
}
.textContainer__4d95d,
.footer__4d95d,
.codeView__4d95d {
    border-color: var(--nox-level3);
    background-color: var(--nox-level2);
    color: var(--nox-white6);
}
.toggleExpandSection__4d95d {
    color: var(--nox-white6);
}
.theme-dark .hljs-code,
.theme-dark .hljs-comment,
.theme-dark .hljs-formula {
    color: var(--nox-white4);
}
.toggleExpandSection__4d95d:hover {
    color: var(--nox-white9);
}
.footer__4d95d .formattedSize__4d95d {
    color: var(--nox-white2);
}
.footer__4d95d .downloadButton__4d95d,
.footer__4d95d .codeIcon__4d95d {
    color: var(--nox-white4);
}
.footer__4d95d .downloadSection__4d95d:hover .downloadButton__4d95d,
.footer__4d95d .codeIcon__4d95d:hover {
    color: var(--nox-white6);
}
// language selector
.languageSelector__4d95d {
    border-radius: 0;
    background-color: var(--nox-level2);
}
.languageSelector__4d95d .container__33507 {
    margin: 2px 2px 0;
    border-radius: 0;
    background-color: var(--nox-level1);
}
.languageSelector__4d95d .item__97e86 {
    border-radius: 3px;
    color: var(--nox-white4);
}
.focused__97e86,
.item__97e86:hover:not(.disabled__97e86) {
    background-color: rgba(255, 255, 255, 0.05);
    color: var(--nox-white6);
}
.item__97e86.item__97e86.selected__97e86 {
    background-color: var(--nox-black3);
    color: var(--nox-white9);
}

// video embed
.mediaBarProgress_f7877e,
.mediaBarProgress_f7877e::after,
.mediaBarProgress_f7877e::before {
    background-color: var(--nox-accent);
}
.mediaBarInteraction_f7877e:hover .mediaBarGrabber_f7877e,
.mediaBarInteractionDragging_f7877e .mediaBarGrabber_f7877e {
    background-color: var(--nox-accent);
}

// audio embed
.wrapperAudio_f316dd.wrapperAudio_f316dd {
    border: 0;
    border-radius: 3px;
    background-color: var(--nox-level2);
}
.audioControls_f316dd {
    background-color: var(--nox-level3);
}
.audioMetadata_f316dd::before {
    filter: hue-rotate(-17deg);
}

// voice embed
.messageAttachment__5dae1 .container_a8e786 {
    border-radius: 4px;
    background-color: var(--nox-level3);
}
.theme-dark .container_a8e786:not(.playing_a8e786) .playButtonContainer_a8e786 {
    background: var(--nox-accent);
}
.theme-dark .container_a8e786:not(.playing_a8e786) .playButtonContainer_a8e786:hover {
    background: var(--nox-accent);
    filter: brightness(1.1);
}
.playing_a8e786 .playIcon_a8e786 {
    color: var(--nox-accent);
}
.rippleContainer_a8e786 {
    border-radius: 0;
}
.ripple_a8e786 {
    border-radius: 0;
    background-color: var(--nox-level1-5);
}
.playing_a8e786 .volumeButtonIcon_a8e786 {
    color: var(--nox-white6);
}