// invite embed
.d5f3cd116f175f35-wrapper {
    border-radius: 3px;
    background-color: var(--nox-level2);
}
.d5f3cd116f175f35-wrapper ._3e3b0b1c0f688f9e-flowerStar path {
    fill: var(--nox-accent);
}
.d5f3cd116f175f35-guildIconExpired {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
    filter: grayscale(1);
}

// bot embed
._623de82e76ad7f82-embedFull {
    border-radius: 3px;
    border-color: var(--nox-white1);
    background: var(--nox-level2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

._82f0793afa59e5dc-botTagRegular {
    background: var(--nox-accent);
}

// file embed
._0ccaee68b77c7469-fileWrapper._0ccaee68b77c7469-fileWrapper {
    border-radius: 2px;
    border-color: var(--nox-level3);
    background-color: var(--nox-level2);
}
._0ccaee68b77c7469-fileWrapper ._0ccaee68b77c7469-metadata {
    color: var(--nox-white2);
}

// textfile embed
._4d95d73152192cf9-newMosaicStyle ._4d95d73152192cf9-textContainer {
    border-radius: 3px 3px 0 0;
}
._4d95d73152192cf9-newMosaicStyle ._4d95d73152192cf9-footer {
    border-radius: 0 0 3px 3px;
}
._4d95d73152192cf9-textContainer,
._4d95d73152192cf9-footer,
._4d95d73152192cf9-codeView {
    border-color: var(--nox-level3);
    background-color: var(--nox-level2);
    color: var(--nox-white6);
}
._4d95d73152192cf9-toggleExpandSection {
    color: var(--nox-white6);
}
.theme-dark .hljs-code,
.theme-dark .hljs-comment,
.theme-dark .hljs-formula {
    color: var(--nox-white4);
}
._4d95d73152192cf9-toggleExpandSection:hover {
    color: var(--nox-white9);
}
._4d95d73152192cf9-footer ._4d95d73152192cf9-formattedSize {
    color: var(--nox-white2);
}
._4d95d73152192cf9-footer ._4d95d73152192cf9-downloadButton,
._4d95d73152192cf9-footer ._4d95d73152192cf9-codeIcon {
    color: var(--nox-white4);
}
._4d95d73152192cf9-footer ._4d95d73152192cf9-downloadSection:hover ._4d95d73152192cf9-downloadButton,
._4d95d73152192cf9-footer ._4d95d73152192cf9-codeIcon:hover {
    color: var(--nox-white6);
}
// language selector
._4d95d73152192cf9-languageSelector {
    border-radius: 0;
    background-color: var(--nox-level2);
}
._4d95d73152192cf9-languageSelector .container__33507 {
    margin: 2px 2px 0;
    border-radius: 0;
    background-color: var(--nox-level1);
}
._4d95d73152192cf9-languageSelector ._97e869e420e80b14-item {
    border-radius: 3px;
    color: var(--nox-white4);
}
._97e869e420e80b14-focused,
._97e869e420e80b14-item:hover:not(._97e869e420e80b14-disabled) {
    background-color: rgba(255, 255, 255, 0.05);
    color: var(--nox-white6);
}
._97e869e420e80b14-item._97e869e420e80b14-item._97e869e420e80b14-selected {
    background-color: var(--nox-black3);
    color: var(--nox-white9);
}

// video embed
.mediaBarProgress_f7877e,
.mediaBarProgress_f7877e::after,
.mediaBarProgress_f7877e::before {
    background-color: var(--nox-accent);
}
.mediaBarInteraction_f7877e:hover .mediaBarGrabber_f7877e,
.mediaBarInteractionDragging_f7877e .mediaBarGrabber_f7877e {
    background-color: var(--nox-accent);
}

// audio embed
.wrapperAudio_f316dd.wrapperAudio_f316dd {
    border: 0;
    border-radius: 3px;
    background-color: var(--nox-level2);
}
.audioControls_f316dd {
    background-color: var(--nox-level3);
}
.audioMetadata_f316dd::before {
    filter: hue-rotate(-17deg);
}

// voice embed
.messageAttachment__5dae1 .a8e786485f0c32f8-container {
    border-radius: 4px;
    background-color: var(--nox-level3);
}
.theme-dark .a8e786485f0c32f8-container:not(.a8e786485f0c32f8-playing) .a8e786485f0c32f8-playButtonContainer {
    background: var(--nox-accent);
}
.theme-dark .a8e786485f0c32f8-container:not(.a8e786485f0c32f8-playing) .a8e786485f0c32f8-playButtonContainer:hover {
    background: var(--nox-accent);
    filter: brightness(1.1);
}
.a8e786485f0c32f8-playing .a8e786485f0c32f8-playIcon {
    color: var(--nox-accent);
}
.a8e786485f0c32f8-rippleContainer {
    border-radius: 0;
}
.a8e786485f0c32f8-ripple {
    border-radius: 0;
    background-color: var(--nox-level1-5);
}
.a8e786485f0c32f8-playing .a8e786485f0c32f8-volumeButtonIcon {
    color: var(--nox-white6);
}