.contentWrapper__08434 {
    background: var(--nox-level2);

    .container_fed6d3 {
        background-color: transparent;
    }

    .navButtonActive__08434 {
        background: var(--nox-white1);
    }

    .header_fed6d3,
    .header__8ef02,
    .header_c0e32c {
        padding: 6px;
        background: var(--nox-level3);
    }
    .searchBar_fed6d3,
    .container_a45028 {
        background: none;
    }

    // gifpicker favourites
    .categoryFadeBlurple_d02962 {
        opacity: 0.6;
        background: var(--nox-accent);
    }
    .categoryFadeBlurple_d02962:hover {
        opacity: 0.7;
        background: var(--nox-accent);
    }
    // gifpicker hover/focus
    .result__2dc39:hover::after,
    .focused_bad108::after {
        box-shadow: inset 0 0 0 2px var(--nox-accent), inset 0 0 0 3px #2f3136;
    }

    .placeholder__2dc39 {
        background: var(--nox-level1);
    }

    //stickerpicker
    .categoryList__3ad28,
    .inspector_aeaaeb {
        background: var(--nox-level3);
    }

    .categoryList__3ad28 {
        margin-top: -4px;
    }

    .wrapper__14245 {
        background: var(--nox-level2);
    }

    // hover background
    .stickerInspected_c6367b .inspectedIndicator_c6367b,
    .guildIcon__0fa6d,
    .firstPartyCategorySelected__3ad28,
    .firstPartyCategorySelected__3ad28:hover,
    .stickerCategoryGenericSelected__3ad28,
    .stickerCategoryGenericSelected__3ad28:hover {
        background: var(--nox-level1);
    }

    //emojipicker
    .header_c0e32c,
    .emojiPicker_c0e32c {
        border-radius: 0;
    }

    .categoryList_c0e32c {
        margin-top: -4px;
        background: var(--nox-level3);
    }

    // hover background
    .emojiItem_fc7141.emojiItemSelected_fc7141,
    .categoryItemDefaultCategorySelected_b9ee0c,
    .categoryItemDefaultCategorySelected_b9ee0c:hover {
        background: var(--nox-level1);
    }

    .imageLoading__1859b {
        border-radius: 8px;
        background-color: var(--nox-level1);
        background-image: none;
    }
}

