._084343c4f11eaaab-contentWrapper {
    background: var(--nox-level2);

    .fed6d32841cc2da2-container {
        background-color: transparent;
    }

    ._084343c4f11eaaab-navButtonActive {
        background: var(--nox-white1);
    }

    .fed6d32841cc2da2-header,
    ._8ef02eea17068b73-header,
    .c0e32c5cffed3d9f-header {
        padding: 6px;
        background: var(--nox-level3);
    }
    .searchBar_fed6d3,
    .container_a45028 {
        background: none;
    }

    // gifpicker favourites
    .d02962a38047ac3c-categoryFadeBlurple {
        opacity: 0.6;
        background: var(--nox-accent);
    }
    .d02962a38047ac3c-categoryFadeBlurple:hover {
        opacity: 0.7;
        background: var(--nox-accent);
    }
    // gifpicker hover/focus
    ._2dc39186a9b98da4-result:hover::after,
    .focused_bad108::after {
        box-shadow: inset 0 0 0 2px var(--nox-accent), inset 0 0 0 3px #2f3136;
    }

    ._2dc39186a9b98da4-placeholder {
        background: var(--nox-level1);
    }

    //stickerpicker
    ._3ad28b0867fa3fad-categoryList,
    .aeaaeb2a573807f0-inspector {
        background: var(--nox-level3);
    }

    ._3ad28b0867fa3fad-categoryList {
        margin-top: -4px;
    }

    ._14245bb948377a25-wrapper {
        background: var(--nox-level2);
    }

    // hover background
    .c6367b0f171ba6d7-stickerInspected .c6367b0f171ba6d7-inspectedIndicator,
    ._0fa6dbf59d1126b0-guildIcon,
    ._3ad28b0867fa3fad-firstPartyCategorySelected,
    ._3ad28b0867fa3fad-firstPartyCategorySelected:hover,
    ._3ad28b0867fa3fad-stickerCategoryGenericSelected,
    ._3ad28b0867fa3fad-stickerCategoryGenericSelected:hover {
        background: var(--nox-level1);
    }

    //emojipicker
    .c0e32c5cffed3d9f-header,
    .c0e32c5cffed3d9f-emojiPicker {
        border-radius: 0;
    }

    .c0e32c5cffed3d9f-categoryList {
        margin-top: -4px;
        background: var(--nox-level3);
    }

    // hover background
    .fc7141859aaa98b7-emojiItem.fc7141859aaa98b7-emojiItemSelected,
    .b9ee0c229bc0b6bb-categoryItemDefaultCategorySelected,
    .b9ee0c229bc0b6bb-categoryItemDefaultCategorySelected:hover {
        background: var(--nox-level1);
    }

    ._1859b636cb709618-imageLoading {
        border-radius: 8px;
        background-color: var(--nox-level1);
        background-image: none;
    }
}

