@use "../../elevations";

.f75fb00fb7356cbe-form.f75fb00fb7356cbe-form.f75fb00fb7356cbe-form {
    margin-top: 0;
    padding: 0;
    background: none;

    &:not(:has(._740174f3d6a2c8fe-hasStackedBar)) {
        box-shadow: elevations.$elevation-shadow;
    }
}

.f75fb00fb7356cbe-form::after,
.f75fb00fb7356cbe-form::before {
    content: none;
}

.f75fb00fb7356cbe-channelTextArea ._740174f3d6a2c8fe-scrollableContainer {
    // padding: 10px 0 10px 0;
    border-radius: 0;
    // max-height: 400px!important;
    // overflow-y: scroll!important;
    background: var(--nox-level1-5);
}

// fix height
._740174f3d6a2c8fe-buttons,
._0923f156a0410684-attachWrapper,
._0923f156a0410684-attachButton._0923f156a0410684-attachButton {
    top: 0;
    bottom: 0;
    align-self: center;
    height: 44px;
    min-height: 0;
}

._0923f156a0410684-attachWrapper._0923f156a0410684-attachWrapper {
    padding: 10px;
}

.f75fb00fb7356cbe-channelBottomBarArea ._740174f3d6a2c8fe-textArea {
    align-self: center;
    min-height: 0;
}

.f75fb00fb7356cbe-channelBottomBarArea .ec4baf0360ff3578-slateTextArea {
    min-height: 0;
    padding: 0;
}

.ec4baf0360ff3578-slateContainer {
    box-sizing: content-box;
    padding-block: calc((64px - 22px) / 2);
    align-content: center;
}

// reply bar
._740174f3d6a2c8fe-stackedBars._740174f3d6a2c8fe-stackedBars {
    border-radius: 8px 8px 0 0;
    background: var(--nox-level2);
}

._841c8f861f7b2704-replyBar {
    z-index: 1;
    background: none;
}

// remove gradient above bars
._36d072eab2b2e737-chatGradientBase {
    display: none;
}

.f75fb00fb7356cbe-channelTextArea.f75fb00fb7356cbe-channelTextArea {
    margin: 0;
    border: 0;
    background: none;
}

._1b31f471f0bb10ab-placeholder._1b31f471f0bb10ab-placeholder {
    padding: 0;
    color: var(--nox-white3);
}

.b8880176888cc928-typing {
    bottom: 100%;
    padding: 0 20px;
    transition: opacity 200ms ease;
    // margin-left: 15px;
    border-radius: 5px 5px 0 0;
    opacity: 0.95;
    background: var(--nox-level2);
    color: var(--nox-white);
}

.b8880176888cc928-typing:hover {
    opacity: 1;
}

.b8880176888cc928-typing .b8880176888cc928-text {
    line-height: 26px;
}

.b8880176888cc928-typingDots {
    margin-right: 5px;
}

.b216994de061a9e2-cooldownWrapper {
    color: var(--nox-white5) !important;
}

// removes gap above edit box
._5126c0cd07f243a0-channelTextArea {
    margin-top: 0;
    border-radius: 0;
}

// edit box bg
._5126c0cd07f243a0-channelTextArea ._740174f3d6a2c8fe-themedBackground {
    border-radius: 3px;
    background: var(--nox-level1-5);
}

.aa63abf63dbd9cce-button[disabled]>.innerButton_aa63ab>.aa63abf63dbd9cce-buttonChild,
.aa63abf63dbd9cce-buttonChild {
    color: var(--nox-white2);
}

.aa63abf63dbd9cce-activeButtonChild {
    color: var(--nox-accent);
}

.aa63abf63dbd9cce-button.aa63abf63dbd9cce-button:focus-within .aa63abf63dbd9cce-activeButtonChild,
.aa63abf63dbd9cce-button.aa63abf63dbd9cce-button:focus .aa63abf63dbd9cce-activeButtonChild,
.aa63abf63dbd9cce-button.aa63abf63dbd9cce-button:hover .aa63abf63dbd9cce-activeButtonChild {
    transition: opacity ease 300ms;
    opacity: 0.6 !important;
    color: var(--nox-accent);
}

.aa63abf63dbd9cce-button.aa63abf63dbd9cce-button:active .aa63abf63dbd9cce-activeButtonChild {
    opacity: 1 !important;
    color: var(--nox-accent);
}

.ada32f6ad5a36c58-codeBlockText,
.ada32f6ad5a36c58-codeLine {
    color: var(--nox-white5);
}

.ada32f6ad5a36c58-codeBlockSyntax,
.ada32f6ad5a36c58-syntaxAfter,
.ada32f6ad5a36c58-syntaxBefore {
    color: var(--nox-white6);
}

.ada32f6ad5a36c58-codeBlockLang {
    color: var(--nox-accent);
}