.form_a7d72e {
    background: none;
    padding: 0;
    &:not(:has(.hasStackedBar_bdf0de)) {
        box-shadow: $elevation-shadow;
    }
}

.form_a7d72e::after,
.form_a7d72e::before {
    content: none;
}

.channelTextArea_a7d72e .scrollableContainer_bdf0de {
    // max-height: 400px!important;
    // overflow-y: scroll!important;
    background: var(--nox-level1-5);
    padding: 10px 0 10px 0;
    border-radius: 0;
}

.channelAppLauncher_df39bd {
    margin: 0;
    .button_df39bd {
        height: 64px;
        border-radius: 0;
        background: var(--nox-level1-5);
    }
}

// reply bar
.stackedBars_bdf0de {
    background: var(--nox-level2);
    width: calc(100% + 44px);
    border-radius: 8px 8px 0 0;
}

.replyBar_b11c5e {
    background: none;
    z-index: 1;
}

.channelTextArea_a7d72e {
    background: none;
    margin: 0;
}

.placeholder_a552a6 {
    color: var(--nox-white3);
}

.typing_d7ebeb {
    background: var(--nox-level2);
    color: var(--nox-white);
    bottom: 100%;
    padding: 0 20px;
    margin-left: 15px;
    border-radius: 5px 5px 0 0;
    opacity: 0.95;
    transition: opacity 200ms ease
}

.typing_d7ebeb:hover {
    opacity: 1;
}

.typing_d7ebeb .text_d7ebeb {
    line-height: 26px;
}

.typingDots_d7ebeb {
    margin-right: 5px;
}

.cooldownWrapper_d7ebeb {
    color: var(--nox-white5) !important;
}

// removes gap above edit box
.channelTextArea_d5deea {
    margin-top: 0;
}

// edit box bg
.channelTextArea_d5deea .themedBackground_d0696b {
    background: var(--nox-level1-5);
    border-radius: 3px;
}

.button_a06035[disabled]>.innerButton_a06035>.buttonChild_a06035,
.buttonChild_a06035 {
    color: var(--nox-white2);
}

.activeButtonChild_a06035 {
    color: var(--nox-accent);
}

.button_a06035.button_a06035:focus-within .activeButtonChild_a06035,
.button_a06035.button_a06035:focus .activeButtonChild_a06035,
.button_a06035.button_a06035:hover .activeButtonChild_a06035 {
    color: var(--nox-accent);
    opacity: 0.6 !important;
    transition: opacity ease 300ms;
}

.button_a06035.button_a06035:active .activeButtonChild_a06035 {
    color: var(--nox-accent);
    opacity: 1 !important;
}

.codeBlockText_cdb578,
.codeLine_cdb578 {
    color: var(--nox-white5);
}

.codeBlockSyntax_cdb578,
.syntaxAfter_cdb578,
.syntaxBefore_cdb578 {
    color: var(--nox-white6);
}

.codeBlockLang_cdb578 {
    color: var(--nox-accent);
}