.form_f75fb0.form_f75fb0 {
    background: none;
    padding: 0;
    &:not(:has(.hasStackedBar__74017)) {
        box-shadow: $elevation-shadow;
    }
}

.form_f75fb0::after,
.form_f75fb0::before {
    content: none;
}

.channelTextArea_f75fb0 .scrollableContainer__74017 {
    // max-height: 400px!important;
    // overflow-y: scroll!important;
    background: var(--nox-level1-5);
    padding: 10px 0 10px 0;
    border-radius: 0;
}

// fix height
.buttons__74017,
.attachWrapper__0923f,
.attachButton__0923f.attachButton__0923f {
    height: 44px;
    min-height: 0;
    align-self: center;
    top: 0;
    bottom: 0;
}
.channelBottomBarArea_f75fb0 .textArea__74017 {
    min-height: 0;
    align-self: center;
}
.channelBottomBarArea_f75fb0 .slateTextArea_ec4baf.slateTextArea_ec4baf {
    min-height: 0;
    padding: 0;
}
.slateContainer_ec4baf {
    align-content: center;
}

// reply bar
.stackedBars__74017.stackedBars__74017 {
    background: var(--nox-level2);
    border-radius: 8px 8px 0 0;
}

.replyBar__841c8 {
    background: none;
    z-index: 1;
}

.channelTextArea_f75fb0.channelTextArea_f75fb0 {
    background: none;
    border: none;
    margin: 0;
}

.placeholder__1b31f.placeholder__1b31f {
    color: var(--nox-white3);
    padding: 0;
}

.typing_b88801 {
    background: var(--nox-level2);
    color: var(--nox-white);
    bottom: 100%;
    padding: 0 20px;
    // margin-left: 15px;
    border-radius: 5px 5px 0 0;
    opacity: 0.95;
    transition: opacity 200ms ease
}

.typing_b88801:hover {
    opacity: 1;
}

.typing_b88801 .text_b88801 {
    line-height: 26px;
}

.typingDots_b88801 {
    margin-right: 5px;
}

.cooldownWrapper_b21699 {
    color: var(--nox-white5) !important;
}

// removes gap above edit box
.channelTextArea__5126c {
    margin-top: 0;
    border-radius: 0;
}

// edit box bg
.channelTextArea__5126c .themedBackground__74017 {
    background: var(--nox-level1-5);
    border-radius: 3px;
}

.button_aa63ab[disabled]>.innerButton_aa63ab>.buttonChild_aa63ab,
.buttonChild_aa63ab {
    color: var(--nox-white2);
}

.activeButtonChild_aa63ab {
    color: var(--nox-accent);
}

.button_aa63ab.button_aa63ab:focus-within .activeButtonChild_aa63ab,
.button_aa63ab.button_aa63ab:focus .activeButtonChild_aa63ab,
.button_aa63ab.button_aa63ab:hover .activeButtonChild_aa63ab {
    color: var(--nox-accent);
    opacity: 0.6 !important;
    transition: opacity ease 300ms;
}

.button_aa63ab.button_aa63ab:active .activeButtonChild_aa63ab {
    color: var(--nox-accent);
    opacity: 1 !important;
}

.codeBlockText_ada32f,
.codeLine_ada32f {
    color: var(--nox-white5);
}

.codeBlockSyntax_ada32f,
.syntaxAfter_ada32f,
.syntaxBefore_ada32f {
    color: var(--nox-white6);
}

.codeBlockLang_ada32f {
    color: var(--nox-accent);
}