// main bg
.container_f369db {
    background: var(--nox-level1);
}

// submit button
.form_d9be46 .submitButton_d9be46 {
    border-radius: 2px;
}

// search bar
.header_f369db.header_f369db {
    background-color: var(--nox-level1-5);
}

.headerWithMatchingPosts_f369db {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

// search thing
.matchingPostsRow_f369db {
    background-color: var(--nox-level2);
    width: 95%;
    align-self: center;
    border-radius: 0 0 5px 5px;
    .clear_f369db {
        color: var(--nox-accent) !important;
    }
}

// dropdown buttons
.sortDropdown_f369db,
.tagsButton_f369db {
    border-radius: 6px;
    background-color: var(--nox-level2);
}
.countContainer_f369db {
    background-color: var(--nox-accent);
}

// filters/tags
.pill_a2c9e8 {
    border-radius: 6px;
    background-color: var(--nox-level2);
    border: none;
    
    .text-xs-semibold__767f1,
    .text-sm-semibold_d260b0 {
        color: var(--nox-white8);
    }

    &.pill_a2c9e8.pill_a2c9e8:hover {
        background-color: rgba(255, 255, 255, .06);
    }

    &.selected_a2c9e8.selected_a2c9e8.selected_a2c9e8 {
        background-color: var(--nox-accent);
    }
}

// card
.mainCard_f369db,
.loadingCard_f369db { // placeholder
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 4px;
}

.loadingCard-0_f369db,
.loadingCard-1_f369db {
    opacity: 0.7;
}

.mainCard_f369db.isOpen_faa96b.isOpen_faa96b {
    background-color: var(--nox-black4);
}

// hover
.container_faa96b:hover {
    transform: none;
    background-color: rgba(2, 2, 2, .2);
    box-shadow: initial;
}

// pin icon
.pinIcon__08166 {
    background-color: var(--nox-accent);
}

// title
.postTitleText_faa96b {
    --header-primary: var(--nox-white9);
    --text-muted: var(--nox-white4);
}

// author
.author_d3eee8.hasUnreads_d3eee8 .anchor_edefb8 {
    color: var(--nox-white6)
}

.author_d3eee8 .anchor_edefb8 {
    color: var(--nox-white4);
}

// message
.messageFocusBlock_faa96b {
    --header-secondary: var(--nox-white4);
    --text-muted: var(--nox-white3);
}

.messageCountIcon_faa96b,
.messageCountText_faa96b,
.bullet_faa96b {
    color: var(--nox-white6);
}

.newMessageCount_faa96b {
    color: var(--nox-accent) !important;
}

.footer_faa96b .text-sm-normal__95a78 {
    color: var(--nox-white6) !important;
}

// forums icon in post
.iconWrapper__7e6bb {
    background-color: var(--nox-level2);
}

// op tag text color
.botTagOP__82f07 {
    color: var(--nox-white);
}

// locked post
.chatHeaderBar_a5700d {
    background-color: var(--nox-level2);
}
.chatHeaderBarText_a5700d {
    color: var(--nox-white6) !important;
}

// original messge divider
.divider_ee23ac {
    display: none;
}

// follow post section

.messageListItem__5126c:has(+ .container__34c2c) {
    margin-bottom: 20px;
}

.messageListItem__5126c + .header__34c2c.header__34c2c {
    background-color: transparent;
    justify-content: center;
}

.container__34c2c {
    background: none;
    border: none;
    margin: 0 0 0 16px;
    width: calc(100% - 16px);
    box-sizing: border-box;
    justify-content: center;

    // when section is near top of screen
    &.header__34c2c {
        box-shadow: none;
        background-color: var(--nox-level2);
        border-radius: 0 0 6px 6px;
        justify-content: space-between;
    }

    .buttons__34c2c{
        border-radius: 2px;
        gap: 16px;
    }

    .addReactButton__34c2c,
    .buttonInner__34c2c {
        background-image: none;
        background-color: var(--nox-white1);
        border-radius: 4px;
        border: none;
        color: var(--nox-white7);

        &:hover {
            background-color: var(--nox-white2);
            color: var(--nox-white9);
        }

        &:active {
            background-color: var(--nox-level1-5);
        }

        // following post
        &.active__34c2c {
            color: var(--nox-accent);
        }
    }
}

// new badge
.newBadge_faa96b {
    background-color: var(--nox-accent) !important;
    color: var(--nox-white);
    font-weight: 600;
}

// new posts button
.newPostsButton_f369db {
    background-color: var(--nox-accent);
    border: none;
    box-shadow: $elevation-shadow;
    height: unset;
    padding: 0;

    .text-md-medium_a84e09 {
        color: var(--nox-white) !important;
        padding: 4px 16px;
        font-weight: 600;
    }
}

// new posts indicator in channel list
.channelInfo_c69b6d  .text-xs-semibold__767f1 {
    --text-brand: var(--nox-accent);
}