@use "../../elevations";

// main bg
.f369dba7416c67f0-container {
    background: var(--nox-level1);
}

// submit button
.d9be463a3c35b91e-form .submitButton_d9be46 {
    border-radius: 2px;
}

// search bar
.f369dba7416c67f0-header.f369dba7416c67f0-header {
    background-color: var(--nox-level1-5);
}

.f369dba7416c67f0-headerWithMatchingPosts {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

// search thing
.f369dba7416c67f0-matchingPostsRow {
    align-self: center;
    width: 95%;
    border-radius: 0 0 5px 5px;
    background-color: var(--nox-level2);
    .f369dba7416c67f0-clear {
        color: var(--nox-accent) !important;
    }
}

// dropdown buttons
.f369dba7416c67f0-sortDropdown,
.f369dba7416c67f0-tagsButton {
    border-radius: 6px;
    background-color: var(--nox-level2);
}
.f369dba7416c67f0-countContainer {
    background-color: var(--nox-accent);
}

// filters/tags
.a2c9e80f6531ccc2-pill {
    border: 0;
    border-radius: 6px;
    background-color: var(--nox-level2);
    
    .text-xs-semibold__767f1,
    .text-sm-semibold_d260b0 {
        color: var(--nox-white8);
    }

    &.a2c9e80f6531ccc2-pill.a2c9e80f6531ccc2-pill:hover {
        background-color: rgba(255, 255, 255, 0.06);
    }

    &.a2c9e80f6531ccc2-selected.a2c9e80f6531ccc2-selected.a2c9e80f6531ccc2-selected {
        background-color: var(--nox-accent);
    }
}

// card
.f369dba7416c67f0-mainCard,
.f369dba7416c67f0-loadingCard { // placeholder
    border: 0;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
}

.f369dba7416c67f0-loadingCard-0,
.f369dba7416c67f0-loadingCard-1 {
    opacity: 0.7;
}

.f369dba7416c67f0-mainCard.faa96b2163f6a142-isOpen.faa96b2163f6a142-isOpen {
    background-color: var(--nox-black4);
}

// hover
.faa96b2163f6a142-container:hover {
    transform: none;
    background-color: rgba(2, 2, 2, 0.2);
    box-shadow: initial;
}

// pin icon
._08166c4389c22135-pinIcon {
    background-color: var(--nox-accent);
}

// title
.faa96b2163f6a142-postTitleText {
    --header-primary: var(--nox-white9);
    --text-muted: var(--nox-white4);
}

// author
.d3eee81db0d5fa1f-author.d3eee81db0d5fa1f-hasUnreads .edefb8e22d63c542-anchor {
    color: var(--nox-white6);
}

.d3eee81db0d5fa1f-author .edefb8e22d63c542-anchor {
    color: var(--nox-white4);
}

// message
.faa96b2163f6a142-messageFocusBlock {
    --header-secondary: var(--nox-white4);
    --text-muted: var(--nox-white3);
}

.faa96b2163f6a142-messageCountIcon,
.faa96b2163f6a142-messageCountText,
.faa96b2163f6a142-bullet {
    color: var(--nox-white6);
}

.faa96b2163f6a142-newMessageCount {
    color: var(--nox-accent) !important;
}

.faa96b2163f6a142-footer .text-sm-normal__95a78 {
    color: var(--nox-white6) !important;
}

// forums icon in post
._7e6bb757ba16c548-iconWrapper {
    background-color: var(--nox-level2);
}

// op tag text color
._82f0793afa59e5dc-botTagOP {
    color: var(--nox-white);
}

// locked post
.a5700d36f7c29ded-chatHeaderBar {
    background-color: var(--nox-level2);
}
.a5700d36f7c29ded-chatHeaderBarText {
    color: var(--nox-white6) !important;
}

// original messge divider
.ee23ac2acd215184-divider {
    display: none;
}

// follow post section

._5126c0cd07f243a0-messageListItem:has(+ ._34c2c51cfce1632e-container) {
    margin-bottom: 20px;
}

._5126c0cd07f243a0-messageListItem + ._34c2c51cfce1632e-header._34c2c51cfce1632e-header {
    justify-content: center;
    background-color: transparent;
}

._34c2c51cfce1632e-container {
    box-sizing: border-box;
    justify-content: center;
    width: calc(100% - 16px);
    margin: 0 0 0 16px;
    border: 0;
    background: none;

    // when section is near top of screen
    &._34c2c51cfce1632e-header {
        justify-content: space-between;
        border-radius: 0 0 6px 6px;
        background-color: var(--nox-level2);
        box-shadow: none;
    }

    ._34c2c51cfce1632e-buttons {
        border-radius: 2px;
        gap: 16px;
    }

    ._34c2c51cfce1632e-addReactButton,
    .buttonInner__34c2c {
        border: 0;
        border-radius: 4px;
        background-color: var(--nox-white1);
        background-image: none;
        color: var(--nox-white7);

        &:hover {
            background-color: var(--nox-white2);
            color: var(--nox-white9);
        }

        &:active {
            background-color: var(--nox-level1-5);
        }

        // following post
        &.active__34c2c {
            color: var(--nox-accent);
        }
    }
}

// new badge
.faa96b2163f6a142-newBadge {
    background-color: var(--nox-accent) !important;
    color: var(--nox-white);
    font-weight: 600;
}

// new posts button
.f369dba7416c67f0-newPostsButton {
    height: unset;
    padding: 0;
    border: 0;
    background-color: var(--nox-accent);
    box-shadow: elevations.$elevation-shadow;

    .text-md-medium_a84e09 {
        padding: 4px 16px;
        color: var(--nox-white) !important;
        font-weight: 600;
    }
}

// new posts indicator in channel list
.c69b6db0641110f6-channelInfo  .text-xs-semibold__767f1 {
    --text-brand: var(--nox-accent);
}