.expandedInboxHeader_f0cd33 {
    .inboxIcon_ab6641,
    .inboxTitle_ab6641 {
        color: var(--nox-white7);
    }
}

.topPill_b3f026 {
    .tab_ab6641.selected_b3f026.selected_b3f026.selected_b3f026.selected_b3f026 {
        background-color: var(--nox-white1);
    }

    .tab_ab6641.tab_ab6641.tab_ab6641:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }
}

.friendRequestsButton__523aa,
.button__292b6.secondary__45d4f { // filter button
    background-color: var(--nox-white1);
    color: var(--nox-white6);
    &:hover {
        background-color: var(--nox-white2);
    }
}

.container__0f711 {
    background-color: var(--nox-level1);
}

.body__6fddf {
    .text-md-normal__6e567,
    .text-xs-medium_d3e0f1 {
        color: var(--nox-white6) !important;
    }
}

.recentMentionsPopout__95796 {
    .channelHeader__35a7e {
        background: var(--nox-level2);
        box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.4);
    }

    .messageContainer__95796 {
        margin-right: 2px;
        border: 0;
        border-radius: 3px;
        background: var(--nox-level1);
    }

    .message__95796 {
        margin: 12px 16px 12px 72px;
        padding: 0 7px 2px 10px;
        overflow: visible;
        background: rgba(0 0 0 / 10%);

        &::before {
            content: "";
            display: block;
            position: relative;
            left: -20px;
            box-sizing: border-box;
            width: 0;
            height: 0;
            border-width: 0 10px 10px 0;
            border-style: solid;
            border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
        }

        .avatar_c19a55 {
            top: 0;
            left: -60px;
        }
    }
}