.chat_f75fb0 .messagesWrapper__36d07 {
    background: var(--nox-level1);
    // margin-bottom: 4px;
}

.chatGradient__36d07 {
    display: none;
}

.scrollerSpacer__36d07.scrollerSpacer__36d07 {
    height: 24px;
}

// message loading placeholder
.wrapper_d852db {
    background: none;
}

.wrapper_fc8177 {
    background: rgba(0, 0, 0, 0.1);
    padding: 0 7px .25rem 10px !important;
    margin: 0 40px 0 80px;
    position: static;
}

.wrapper_fc8177 .contents_fc8177 {
    position: relative;
}

.wrapper_fc8177 .avatar_fc8177 {
    left: -70px;
    top: -10px;
    margin: 0;
}

.wrapper_fc8177:has(.avatar_fc8177)::before {
    content: "";
    width: 0;
    height: 0;
    left: -20px;
    top: 0;
    display: block;
    position: relative;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent rgba(0, 0, 0, 0.1) transparent transparent;
}

// codeblocks
.markup__75297 code {
    background: var(--nox-level2);
    border-color: var(--nox-level3);
    border-radius: 2px;
}

// timestamp
.timestamp__75297 {
    background-color: rgba(255, 255, 255, .1);
}

// inline code
.markup__75297 code.inline {
    border-radius: 2px;
}

.after_inlineCode_ada32f,
.before_inlineCode_ada32f,
.inlineCode_ada32f {
    background: var(--nox-level2);
}

.blockquoteDivider__75297 {
    background-color: var(--nox-black3);
}