.f75fb00fb7356cbe-chat ._36d072eab2b2e737-messagesWrapper {
    background: var(--nox-level1);
    // margin-bottom: 4px;
}

._36d072eab2b2e737-chatGradient {
    display: none;
}

._36d072eab2b2e737-scrollerSpacer._36d072eab2b2e737-scrollerSpacer {
    height: 24px;
}

// message loading placeholder
.d852db00c0588eb9-wrapper {
    background: none;
}

.fc817765600a960a-wrapper {
    position: static;
    margin: 0 40px 0 80px;
    padding: 0 7px 0.25rem 10px !important;
    background: rgba(0, 0, 0, 0.1);
}

.fc817765600a960a-wrapper .fc817765600a960a-contents {
    position: relative;
}

.fc817765600a960a-wrapper .fc817765600a960a-avatar {
    top: -10px;
    left: -70px;
    margin: 0;
}

.fc817765600a960a-wrapper:has(.fc817765600a960a-avatar)::before {
    content: "";
    display: block;
    position: relative;
    top: 0;
    left: -20px;
    width: 0;
    height: 0;
    border-width: 0 10px 10px 0;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.1) transparent transparent;
}

// codeblocks
._752971923a1e6683-markup code {
    border-radius: 2px;
    border-color: var(--nox-level3);
    background: var(--nox-level2);
}

// timestamp
._752971923a1e6683-timestamp {
    background-color: rgba(255, 255, 255, 0.1);
}

// inline code
._752971923a1e6683-markup code.inline {
    border-radius: 2px;
}

.ada32f6ad5a36c58-after_inlineCode,
.ada32f6ad5a36c58-before_inlineCode,
.ada32f6ad5a36c58-before_inlineCode {
    background: var(--nox-level2);
}

._752971923a1e6683-blockquoteDivider {
    background-color: var(--nox-black3);
}