._5126c0cd07f243a0-message.c19a557985eb7793-cozy {
    margin: 0 40px 0 80px;
    padding: 0 7px 0.25rem 10px !important;
    // overflow: visible;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}

._5126c0cd07f243a0-message._5126c0cd07f243a0-groupStart {
    margin-top: 20px;
}

._5126c0cd07f243a0-message .c19a557985eb7793-contents {
    position: relative;
}

._5126c0cd07f243a0-groupStart::before {
    content: "";
    display: block;
    position: relative;
    top: 0;
    left: -20px;
    width: 0;
    height: 0;
    border-width: 0 10px 10px 0;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.1) transparent transparent;
}

._5126c0cd07f243a0-message .c19a557985eb7793-avatar {
    top: -10px;
    left: -70px;
    margin: 0;
}

.c19a557985eb7793-repliedMessageClickableSpine {
    display: none;
}

._5126c0cd07f243a0-replying::before,
._5126c0cd07f243a0-ephemeral::before {
    background: none;
}

._5126c0cd07f243a0-replying .c19a557985eb7793-messageContent {
    position: relative;
    margin-left: -10px;
    padding-left: 8px;
    border-left: 2px solid var(--nox-accent);
}

._5126c0cd07f243a0-messageListItem .c19a557985eb7793-hasReply .c19a557985eb7793-avatar {
    top: -30px;
}

._5126c0cd07f243a0-message .c19a557985eb7793-avatarDecoration {
    top: -12px;
    left: -74px;
}

._5126c0cd07f243a0-message.c19a557985eb7793-hasReply .c19a557985eb7793-avatarDecoration {
    top: -32px;
}

.c19a557985eb7793-repliedMessage.c19a557985eb7793-repliedMessage {
    top: -3px;
    color: var(--nox-white5);
}

.c19a557985eb7793-timestamp.c19a557985eb7793-timestampVisibleOnHover.c19a557985eb7793-alt {
    left: -70px;
}

.c19a557985eb7793-timestamp.c19a557985eb7793-timestampInline,
.c19a557985eb7793-timestamp.c19a557985eb7793-timestampVisibleOnHover.c19a557985eb7793-alt {
    color: var(--nox-white2);
}

._5126c0cd07f243a0-message._5126c0cd07f243a0-message._5126c0cd07f243a0-message._5126c0cd07f243a0-selected,
._5126c0cd07f243a0-message._5126c0cd07f243a0-message._5126c0cd07f243a0-message._5126c0cd07f243a0-message._5126c0cd07f243a0-message:hover {
    background-color: rgba(2, 2, 2, 0.06);
}

._5126c0cd07f243a0-groupStart._5126c0cd07f243a0-selected::before,
._5126c0cd07f243a0-groupStart:hover::before {
    border-color: rgba(0, 0, 0, 0) rgba(2, 2, 2, 0.06) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

// mentioned
._5126c0cd07f243a0-mentioned::before {
    background: none;
}

._5126c0cd07f243a0-message._5126c0cd07f243a0-mentioned .c19a557985eb7793-messageContent {
    position: relative;
    margin-left: -4px;
    padding-left: 3px;
    border-left: 4px solid rgb(250, 166, 26);
    border-radius: 2px;
    background: rgba(250, 166, 26, 0.1);
}

._5126c0cd07f243a0-message._5126c0cd07f243a0-mentioned:hover .c19a557985eb7793-messageContent,
._5126c0cd07f243a0-message._5126c0cd07f243a0-selected._5126c0cd07f243a0-mentioned .c19a557985eb7793-messageContent {
    background: rgba(250, 166, 26, 0.15);
}

// mentions
._752971923a1e6683-roleMention {
    border-radius: 2px;
}

.mention,
._752971923a1e6683-roleMention:not([style]),
.channelMention {
    position: relative;
    background: none;
    color: var(--nox-accent);

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 2px;
        opacity: 0.15;
        background-color: var(--nox-accent);
    }

    &:hover {
        background: none;
        color: var(--nox-white);

        &::after {
            opacity: 1;
        }
    }
}

// reactions
.f8896c4f6be18f59-reaction,
// forums
._23977d5b7cef7361-reaction {
    border: 0 !important;
    border-radius: 4px;
    background: var(--nox-white1);
}

.f8896c4f6be18f59-reaction:hover,
// forums
._23977d5b7cef7361-reaction:hover {
    background: var(--nox-black1);
}

.f8896c4f6be18f59-reaction.f8896c4f6be18f59-reactionMe,
// forums
._23977d5b7cef7361-reaction._23977d5b7cef7361-reactionMe {
    background: var(--nox-accent);
}

.f8896c4f6be18f59-reaction .f8896c4f6be18f59-reactionCount,
// forums
._23977d5b7cef7361-reaction ._23977d5b7cef7361-reactionCount {
    color: var(--nox-white);
}

.f8896c4f6be18f59-reaction.f8896c4f6be18f59-reactionMe .emoji,
// forums
._23977d5b7cef7361-reaction._23977d5b7cef7361-reactionMe .emoji {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.7));
}