.message__5126c.cozy_c19a55 {
    background: rgba(0, 0, 0, 0.1);
    padding: 0 7px .25rem 10px !important;
    margin: 0 40px 0 80px;
    // overflow: visible;
}

.message__5126c.groupStart__5126c {
    margin-top: 20px;
}

.message__5126c .contents_c19a55 {
    position: relative;
}

.groupStart__5126c::before {
    content: "";
    width: 0;
    height: 0;
    left: -20px;
    top: 0;
    display: block;
    position: relative;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent rgba(0, 0, 0, 0.1) transparent transparent;
}

.message__5126c .avatar_c19a55 {
    left: -70px;
    top: -10px;
    margin: 0;
}

.repliedMessageClickableSpine_c19a55 {
    display: none;
}

.replying__5126c::before,
.ephemeral__5126c::before {
    background: none;
}

.replying__5126c .messageContent_c19a55 {
    position: relative;
    padding-left: 8px;
    margin-left: -10px;
    border-left: 2px solid var(--nox-accent);
}

.messageListItem__5126c .hasReply_c19a55 .avatar_c19a55 {
    top: -30px;
}

.message__5126c .avatarDecoration_c19a55 {
    left: -74px;
    top: -12px;
}

.message__5126c.hasReply_c19a55 .avatarDecoration_c19a55 {
    top: -32px;
}

.repliedMessage_c19a55 {
    top: -3px;
    color: var(--nox-white5);
}

.timestamp_c19a55.timestampVisibleOnHover_c19a55.alt_c19a55 {
    left: -70px;
}
.timestamp_c19a55.timestampInline_c19a55,
.timestamp_c19a55.timestampVisibleOnHover_c19a55.alt_c19a55 {
    color: var(--nox-white2);
}

.message__5126c.selected__5126c,
.message__5126c.message__5126c.message__5126c:hover {
    background-color: rgba(2, 2, 2, 0.06);
}
.groupStart__5126c.selected__5126c::before,
.groupStart__5126c:hover::before {
    border-color: rgba(0,0,0,0) rgba(2,2,2,0.06) rgba(0,0,0,0) rgba(0,0,0,0);
}

// mentioned
.mentioned__5126c::before {
    background: none;
}
.message__5126c.mentioned__5126c .messageContent_c19a55 {
    position: relative;
    padding-left: 3px;
    margin-left: -4px;
    background: rgba(250,166,26,.1);
    border-left: 4px solid rgb(250,166,26);
    border-radius: 2px;
}
.message__5126c.mentioned__5126c:hover .messageContent_c19a55,
.message__5126c.selected__5126c.mentioned__5126c .messageContent_c19a55 {
    background: rgba(250,166,26,.15);
}

// mentions
.roleMention__75297 {
    border-radius: 2px;
}

.mention,
.roleMention__75297:not([style]),
.channelMention {
    position: relative;
    color: var(--nox-accent);
    background: none;

    &::after {
        content: '';
        z-index: -1;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        opacity: 0.15;
        background-color: var(--nox-accent);
        border-radius: 2px;
    }
    
    &:hover {
        color: var(--nox-white);
        background: none;

        &::after {
            opacity: 1;
        }
    }
}

// reactions
.reaction_f8896c, // forums
.reaction__23977 {
    background: var(--nox-white1);
    border-radius: 4px;
    border: none !important;
}

.reaction_f8896c:hover, // forums
.reaction__23977:hover {
    background: var(--nox-black1);
}

.reaction_f8896c.reactionMe_f8896c, // forums
.reaction__23977.reactionMe__23977 {
    background: var(--nox-accent);
}

.reaction_f8896c .reactionCount_f8896c, // forums
.reaction__23977 .reactionCount__23977 {
    color: var(--nox-white);
}

.reaction_f8896c.reactionMe_f8896c .emoji, // forums
.reaction__23977.reactionMe__23977 .emoji {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.7));
}