.e8b59c4b335dd2fc-messagesPopoutWrap {
    background-color: var(--nox-level2);
}
.e8b59c4b335dd2fc-header {
    background-color: var(--nox-level2);
    box-shadow: none;
}
.e8b59c4b335dd2fc-footer {
    background-color: var(--nox-level3);
}

.e8b59c4b335dd2fc-messageGroupWrapper {
    margin-right: 2px;
    border: 0;
    border-radius: 3px;
    background: var(--nox-level1);

    .e8b59c4b335dd2fc-messageGroupCozy {
        margin: 12px 16px 12px 72px;
        padding: 0 7px 2px 10px;
        background: rgba(0 0 0 / 10%);
    }

    .e8b59c4b335dd2fc-messageGroupCozy::before {
        content: "";
        display: block;
        position: relative;
        left: -20px;
        width: 0;
        height: 0;
        border-width: 0 10px 10px 0;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    }
    
    .c19a557985eb7793-avatar {
        top: 0;
        left: -60px;
    }
    .c19a557985eb7793-avatarDecoration {
        top: 0;
        left: -64px;
    }
}
