.searchBar__97492 {
    background: var(--nox-level2);
}

.public-DraftEditorPlaceholder-root.public-DraftEditorPlaceholder-root.public-DraftEditorPlaceholder-root,
.icon_fea832 {
    color: var(--nox-white3);
}

.searchBar__97492 .searchAnswer_bd8186,
.searchBar__97492 .searchFilter_bd8186 {
    margin-left: 0;
    padding-left: 0;
    background: rgba(255 255 255 / 10%);
}

.searchFilter_bd8186:first-child {
    margin-left: -2px;
    padding-left: 2px;
}

// search options popouts (could also do other popouts)
.container__55c99 {
    background: var(--nox-level3);
    box-shadow: 0 5px 10px rgba(0 0 0 / 40%);
}

.searchOption__56fec {
    .filter__56fec {
        color: var(--nox-white6);
    }
    .answer__56fec {
        color: var(--nox-white4);
        font-weight: 400;
    }
    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
        .filter__56fec {
            color: var(--nox-white9);
        }
        .answer__56fec {
            color: var(--nox-white6);
        }
    }
}

.container__55c99 .option__56fec::after {
    background: none;
}

.container__55c99 .queryContainer__55c99 {
    border: 0;
    background: var(--nox-level2);
}
.resultsGroup__56fec {
    .header__56fec,
    .searchLearnMore__56fec {
        color: var(--nox-white7);
        font-weight: 700;
    }
    
    .searchLearnMore__56fec:hover {
        color: var(--nox-white9);
    }
    
    &::before {
        content: none;
    }
}

// results pane
.searchResultsWrap_a9e706,
.searchHeader_f3b986 {
    background-color: var(--nox-level2);
}

// indexing spinner
.path2__0b5bb.path2__0b5bb,
.path3__0b5bb.path3__0b5bb,
.path__0b5bb.path__0b5bb {
    stroke: var(--nox-accent);
}

.searchResult__02a39 {
    border-radius: 3px;
    background: var(--nox-level1);

    .wrapper_c19a55 {
        margin: 0 16px 0 72px;
        padding: 0 7px 2px 10px;
        background: rgba(0 0 0 / 10%);
    }

    .wrapper_c19a55::before {
        content: "";
        display: block;
        position: relative;
        left: -20px;
        width: 0;
        height: 0;
        border-width: 0 10px 10px 0;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    }

    .avatar_c19a55 {
        top: 0;
        left: -60px;
    }
    .avatarDecoration_c19a55 {
        top: 0;
        left: -64px;
    }
}
