._974928fe84ca9647-searchBar {
    background: var(--nox-level2);
}

.public-DraftEditorPlaceholder-root.public-DraftEditorPlaceholder-root.public-DraftEditorPlaceholder-root,
.icon_fea832 {
    color: var(--nox-white3);
}

._974928fe84ca9647-searchBar .bd818628221af7aa-searchAnswer,
._974928fe84ca9647-searchBar .bd818628221af7aa-searchFilter {
    margin-left: 0;
    padding-left: 0;
    background: rgba(255 255 255 / 10%);
}

.bd818628221af7aa-searchFilter:first-child {
    margin-left: -2px;
    padding-left: 2px;
}

// search options popouts (could also do other popouts)
._55c999adcf6db265-container {
    background: var(--nox-level3);
    box-shadow: 0 5px 10px rgba(0 0 0 / 40%);
}

._56fec8e8b8048fe0-searchOption {
    ._56fec8e8b8048fe0-filter {
        color: var(--nox-white6);
    }
    ._56fec8e8b8048fe0-answer {
        color: var(--nox-white4);
        font-weight: 400;
    }
    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
        ._56fec8e8b8048fe0-filter {
            color: var(--nox-white9);
        }
        ._56fec8e8b8048fe0-answer {
            color: var(--nox-white6);
        }
    }
}

._55c999adcf6db265-container ._56fec8e8b8048fe0-option::after {
    background: none;
}

._55c999adcf6db265-container ._55c999adcf6db265-queryContainer {
    border: 0;
    background: var(--nox-level2);
}
._56fec8e8b8048fe0-resultsGroup {
    ._56fec8e8b8048fe0-header,
    ._56fec8e8b8048fe0-searchLearnMore {
        color: var(--nox-white7);
        font-weight: 700;
    }
    
    ._56fec8e8b8048fe0-searchLearnMore:hover {
        color: var(--nox-white9);
    }
    
    &::before {
        content: none;
    }
}

// results pane
.a9e7064fdee8e9b0-searchResultsWrap,
.f3b986a284a18c78-searchHeader {
    background-color: var(--nox-level2);
}

// indexing spinner
._46696d17714f10ab-path2._46696d17714f10ab-path2,
._46696d17714f10ab-path3._46696d17714f10ab-path3,
._46696d17714f10ab-path._46696d17714f10ab-path {
    stroke: var(--nox-accent);
}

._02a39cb2980ceaaf-searchResult {
    border-radius: 3px;
    background: var(--nox-level1);

    .c19a557985eb7793-wrapper {
        margin: 0 16px 0 72px;
        padding: 0 7px 2px 10px;
        background: rgba(0 0 0 / 10%);
    }

    .c19a557985eb7793-wrapper::before {
        content: "";
        display: block;
        position: relative;
        left: -20px;
        width: 0;
        height: 0;
        border-width: 0 10px 10px 0;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    }

    .c19a557985eb7793-avatar {
        top: 0;
        left: -60px;
    }
    .c19a557985eb7793-avatarDecoration {
        top: 0;
        left: -64px;
    }
}
