.c322aadb96ff59c9-searchBar {
    background: var(--nox-level2);
}

.public-DraftEditorPlaceholder-root.public-DraftEditorPlaceholder-root.public-DraftEditorPlaceholder-root,
.icon_fea832 {
    color: var(--nox-white3);
}

.c322aadb96ff59c9-searchBar .bd818628221af7aa-searchAnswer,
.c322aadb96ff59c9-searchBar .bd818628221af7aa-searchFilter {
    margin-left: 0;
    padding-left: 0;
    background: rgba(255 255 255 / 10%);
}

.bd818628221af7aa-searchFilter:first-child {
    margin-left: -2px;
    padding-left: 2px;
}

// search options popouts (could also do other popouts)
._55c999adcf6db265-container {
    background: var(--nox-level3);
    box-shadow: 0 5px 10px rgba(0 0 0 / 40%);
}

._16eb0bfd5c5a90d1-searchOption {
    ._16eb0bfd5c5a90d1-filter {
        color: var(--nox-white6);
    }
    ._16eb0bfd5c5a90d1-answer {
        color: var(--nox-white4);
        font-weight: 400;
    }
    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
        ._16eb0bfd5c5a90d1-filter {
            color: var(--nox-white9);
        }
        ._16eb0bfd5c5a90d1-answer {
            color: var(--nox-white6);
        }
    }
}

._55c999adcf6db265-container ._16eb0bfd5c5a90d1-option::after {
    background: none;
}

._55c999adcf6db265-container ._55c999adcf6db265-queryContainer {
    border: 0;
    background: var(--nox-level2);
}
._16eb0bfd5c5a90d1-resultsGroup {
    ._16eb0bfd5c5a90d1-header,
    ._16eb0bfd5c5a90d1-searchLearnMore {
        color: var(--nox-white7);
        font-weight: 700;
    }
    
    ._16eb0bfd5c5a90d1-searchLearnMore:hover {
        color: var(--nox-white9);
    }
    
    &::before {
        content: none;
    }
}

// results pane
.a98f3b020416ad54-searchResultsWrap,
.ae7890a1b8e75804-searchHeader {
    background-color: var(--nox-level2);
}

// indexing spinner
.path2__0b5bb.path2__0b5bb,
.path3__0b5bb.path3__0b5bb,
.path__0b5bb.path__0b5bb {
    stroke: var(--nox-accent);
}

._80bf8435713f6adb-searchResult {
    border-radius: 3px;
    background: var(--nox-level1);

    .c19a557985eb7793-wrapper {
        margin: 0 16px 0 72px;
        padding: 0 7px 2px 10px;
        background: rgba(0 0 0 / 10%);
    }

    .c19a557985eb7793-wrapper::before {
        content: "";
        display: block;
        position: relative;
        left: -20px;
        width: 0;
        height: 0;
        border-width: 0 10px 10px 0;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    }

    .c19a557985eb7793-avatar {
        top: 0;
        left: -60px;
    }
    .c19a557985eb7793-avatarDecoration {
        top: 0;
        left: -64px;
    }
}
