// thread icon
._235ca3770d90ab7c-iconContainer {
    right: unset;
    left: -85px;
}

.c19a557985eb7793-hasThread.c19a557985eb7793-hasThread {
    // line pointing to thread    
    &::after {
        content: none;
    }

    // non link thread header text
    ._235ca3770d90ab7c-container {
        color: var(--nox-white4);
    }

    .edefb8e22d63c542-anchor {
        color: var(--nox-white8);
    }
}

// thread attachement box
._9271d23503a01b50-systemMessageContainer {
    border-radius: 2px;
    background-color: var(--nox-level2);

    // title
    ._9271d23503a01b50-name {
        color: var(--nox-white8);
    }
    // message
    ._9271d23503a01b50-bottomLine {
        color: var(--nox-white4);
    }
    // timestamp
    ._9271d23503a01b50-timestamp {
        color: var(--nox-white3);
    }
}

// split view

// remove top border
._01ae244280823725-container._01ae244280823725-container {
    border: 0;
}

.f75fb00fb7356cbe-threadSidebarOpen.f75fb00fb7356cbe-threadSidebarOpen,
._01ae244280823725-container {
    border-radius: 0;
}
.f75fb00fb7356cbe-chatContent {
    background: var(--nox-level1);
}
._01ae244280823725-resizeHandle {
    background: var(--nox-level3);
}