// thread icon
.iconContainer__235ca {
    left: -85px;
    right: unset;
}

.hasThread_c19a55.hasThread_c19a55 {
    // line pointing to thread    
    &::after{
        content: none;
    }

    // non link thread header text
    .container__235ca {
        color: var(--nox-white4);
    }

    .anchor_edefb8 {
        color: var(--nox-white8);
    }
}

// thread attachement box
.systemMessageContainer__9271d {
    background-color: var(--nox-level2);
    border-radius: 2px;

    // title
    .name__9271d {
        color: var(--nox-white8);
    }
    // message
    .bottomLine__9271d {
        color: var(--nox-white4);
    }
    // timestamp
    .timestamp__9271d {
        color: var(--nox-white3);
    }
}

// split view
.threadSidebarOpen_f75fb0.threadSidebarOpen_f75fb0,
.container__01ae2 {
    border-radius: 0;
}
section.chatContent_f75fb0 {
    background: var(--nox-level1);
}
.resizeHandle__01ae2 {
    background: var(--nox-level3);
}