._9293f6b2fc12398a-container._9293f6b2fc12398a-themed {
    border: 0;
    background: var(--nox-level3);
}

// Remove stupid gradient
._9293f6b2fc12398a-children::after {
    display: none;
}

// channel description
._6ec1a06139ec3b27-topic {
    color: var(--nox-white4);
}

.selected_f37cb1 .f37cb1984c371ee5-header,
.clickable_f37cb1 .f37cb1984c371ee5-header:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

// remove border
.f75fb00fb7356cbe-chat.f75fb00fb7356cbe-chat.f75fb00fb7356cbe-chat {
    border: 0;
}