.container__9293f.themed__9293f {
    background: var(--nox-level3);
    border: none;
}

// Remove stupid gradient
.children__9293f::after {
    display: none;
}

// channel description
.topic__6ec1a {
    color: var(--nox-white4);
}

.selected_f37cb1 .header_f37cb1,
.clickable_f37cb1 .header_f37cb1:hover {
    background-color: rgba(255,255,255, 0.05);
}

// remove border
.chat_f75fb0.chat_f75fb0.chat_f75fb0 {
    border: none;
}