// remove top border
._133bf5eea8e33a34-container {
    border: 0;
}

._133bf5eea8e33a34-tabBody {
    background: var(--nox-level1);
}

// toolbar
._9293f6b2fc12398a-icon {
    color: var(--nox-white4);
}
._9293f6b2fc12398a-title {
    color: var(--nox-white7);
}
._133bf5eea8e33a34-item._133bf5eea8e33a34-item {
    border-radius: 4px;
    color: var(--nox-white4);
}
._133bf5eea8e33a34-item._133bf5eea8e33a34-item._133bf5eea8e33a34-item:hover {
    background-color: rgb(255 255 255 / 5%);
    color: var(--nox-white6);
}
._133bf5eea8e33a34-item._133bf5eea8e33a34-item._133bf5eea8e33a34-item.aa8da23faa27393c-selected {
    background-color: var(--nox-white1);
    color: var(--nox-white9);
}
._133bf5eea8e33a34-addFriend._133bf5eea8e33a34-addFriend._133bf5eea8e33a34-addFriend._133bf5eea8e33a34-addFriend {
    background-color: var(--nox-accent);
    color: var(--nox-white9);

    &:hover {
        background-color: hsl(from var(--nox-accent) h calc(s * .7) calc(l * .7));
        color: var(--nox-white9);
    }
    
    &[aria-selected=true] {
        background-color: hsl(from var(--nox-accent) h s l / 15%);
        color: hsl(from var(--nox-accent) h s calc(l * 1.1));
    }
}

// search bar
._5ec2fb8b5de26b21-searchBar {
    margin-right: 24px;
    ._72c3859781ebce8f-wrapper {
        border: 0;
        border-radius: 4px;
        background: var(--nox-level3);
    }
}
.input_a45028 {
    color: var(--nox-white6);
}
.input_a45028::placeholder {
    color: var(--nox-white3);
}
.icon_a45028 {
    color: var(--nox-white4);
}
.iconLayout_a45028:hover .clear_a45028 {
    color: var(--nox-white9);
}

// friend list
.cc61794aab086a2e-peopleListItem.cc61794aab086a2e-peopleListItem.cc61794aab086a2e-peopleListItem {
    margin: 0 10px 0 20px;
    padding: 16px 10px;
    // border-radius: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0.1);
}
.cc61794aab086a2e-peopleListItem.cc61794aab086a2e-peopleListItem:hover {
    // margin-bottom: 16px;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.03);
}
._5ec2fb8b5de26b21-sectionTitle+.cc61794aab086a2e-peopleListItem {
    border-radius: 4px 4px 0 0;
}
.cc61794aab086a2e-peopleListItem:last-child {
    border-radius: 0 0 4px 4px;
}

._0a06ed6ea040aa1b-avatar {
    align-self: center;
}
._1472a8142d02ea23-title,
._0a06ed6ea040aa1b-username {
    color: var(--nox-white6);
}
._0a06ed6ea040aa1b-discriminator,
.sub_0a06ed6ea040aa1b-text {
    color: var(--nox-white4);
}
.f8fa068db52f043f-actionButton,
.f8fa068db52f043f-actionButton.f8fa068db52f043f-highlight {
    background-color: var(--nox-black4);
    color: var(--nox-white6);
}
.f8fa068db52f043f-actionButton:hover {
    background-color: var(--nox-black6);
    color: var(--nox-white9);
}

// activity section
._133bf5eea8e33a34-nowPlayingColumn,
._7d20cf18f8a2784c-container {
    background: none;
}

._7d20cf18f8a2784c-scroller._7d20cf18f8a2784c-scroller {
    border-left-color: rgba(255, 255, 255, 0.05);
}
._7d20cf18f8a2784c-scroller ._4bd5201c86a2042b-defaultColor {
    color: var(--nox-white7);
}
._7e549558f336cddb-itemCard._7e549558f336cddb-itemCard {
    border: 0;
    border-radius: 4px;
    background-color: var(--nox-black4);
}
._00943886e1cf89d1-body._00943886e1cf89d1-body {
    background: none;
}
._00943886e1cf89d1-section._00943886e1cf89d1-section {
    background-color: var(--nox-white1);
}
._00943886e1cf89d1-section:first-child {
    border-radius: 4px 4px 0 0;
}
._00943886e1cf89d1-section:last-child {
    border-radius: 0 0 4px 4px;
}
._00943886e1cf89d1-section:only-child {
    border-radius: 4px;
}
.theme-dark .bf1984a18b3ec6f0-outer.bf1984a18b3ec6f0-interactive:hover {
    background-color: var(--nox-black2);
}
._7e549558f336cddb-itemCard ._4bd5201c86a2042b-defaultColor {
    color: var(--nox-white6);
}
._7e549558f336cddb-itemCard .text-sm\/normal_cf4812._00943886e1cf89d1-textContent {
    color: var(--nox-white4) !important;
}
._00943886e1cf89d1-section ._00943886e1cf89d1-textContent {
    color: var(--nox-white7);
}

._133bf5eea8e33a34-tabBody .image__08515 {
    filter: grayscale(1);
}

// add friend section
#add_friend-tab .b717a15017b82443-title {
    color: var(--nox-white7);
}
.ddd1814f7cd3e6fd-description,
.ddd1814f7cd3e6fd-labelDescriptor,
.text__0e310,
.title__496be {
    color: var(--nox-white4);
}
._72ba79a5dfa2ce86-addFriendInputWrapper {
    border: 0;
    border-radius: 4px;
    background-color: var(--nox-level2);
}
._72ba79a5dfa2ce86-input {
    color: var(--nox-white6);
    letter-spacing: normal;
}
._72ba79a5dfa2ce86-input::placeholder {
    color: var(--nox-white2);
}
.a145951f2e72a285-container {
    border: 0;
    border-radius: 4px;
    background-color: var(--nox-black4);
}
.a145951f2e72a285-container:hover {
    background-color: var(--nox-black2);
}
.a145951f2e72a285-container:active {
    background-color: var(--nox-black1);
}
.a145951f2e72a285-container .a145951f2e72a285-icon {
    border-radius: 50%;
}
.a145951f2e72a285-container:last-child .a145951f2e72a285-icon {
    filter: brightness(93%) hue-rotate(93deg) saturate(170%);
}
.a145951f2e72a285-container .a145951f2e72a285-text,
.a145951f2e72a285-arrow {
    color: var(--nox-white4);
}
.a145951f2e72a285-container:hover .a145951f2e72a285-text,
.a145951f2e72a285-container:hover .a145951f2e72a285-arrow,
.a145951f2e72a285-container:active .a145951f2e72a285-text,
.a145951f2e72a285-container:active .a145951f2e72a285-arrow {
    color: var(--nox-white6);
}