@use "../../elevations";

.members_c8ffbb,
// .members_c8ffbb > div,
.member__5d473 {
    background: var(--nox-level2);
    color: var(--nox-white5);
}

.container_c8ffbb {
    z-index: elevations.$channels-elevation;
    box-shadow: elevations.$elevation-shadow;
    background: var(--nox-level2);
    border: none;
}
.container_cc72c1, // Role name
.activity__5d473 {
    color: var(--nox-white4);
}

.childContainer__91a9d {
    border-radius: 4px;
    padding: 2px 8px;
}

.clickable__91a9d:hover .childContainer__91a9d { // hover on member
    background-color: rgba(255, 255, 255, 0.05);
    color: var(--nox-white7);
}

.selected__91a9d .childContainer__91a9d { // selected member
    background-color: var(--nox-level3);
    color: var(--nox-white9);
}