// common
.userProfileModalOuter_c69a7b {

    .userProfileModalInner_c69a7b {
        background-size: 50%;
    }

    .topSection_b9fccc {
        margin: 0;
        padding-bottom: 60px;
    }

    .additionalActionsIcon_ec3b75 { // menu button next to send message
        transition: 100ms ease;
        opacity: 0.5;
    }

    .additionalActionsIcon_ec3b75:hover { // menu button next to send message
        opacity: 1;
    }

    .badgeList_ec3b75 {
        background: none;
    }

    .avatar_ec3b75 circle[fill="black"],
    .avatar_ec3b75 > svg > rect[fill="black"] {
        visibility: hidden;
    }

    .overlayBackground_c69a7b {
        margin: 0;
        border-radius: 0;
        background: none;
    }

    ._24502a4069848acb-body {
        height: 100%;
        border-radius: 0;
    }

    .container_afed89 {
        z-index: 1;
        padding-top: 12px;
        padding-right: 28px;
        padding-left: 28px;
    }

    .tabBarContainer_b9fccc {
        z-index: 1;
        margin: 0;
        padding-top: 20px;
        padding-right: 28px;
        padding-left: 28px;
        border: 0;
        box-shadow: 0 11px 20px -10px rgba(0, 0, 0, 0.4);
    }

    .divider-SH6OnO,
    .userInfoSection_a24910+.userInfoSection_a24910 {
        border: 0;
    }

    .infoScroller_a24910,
    ._9d78f306fb3bc112-listScroller {
        z-index: 0;
        overflow: hidden overlay !important;
    }
    .infoScroller_a24910 {
        padding-right: 28px !important;
        padding-left: 28px;
    }
    ._9d78f306fb3bc112-listScroller {
        padding-right: 16px !important;
        padding-left: 16px;
    }

    // Tab icons 
    .tabBar_b9fccc { // eliminate gap between icons
        gap: 0;
    }

    // all icons
    .tabBarItem_b9fccc {
        height: 24px;
        padding: 7px 6px;
        opacity: 0.4;
    }

    // hover/selected
    .tabBarItem_b9fccc.selected_b3f026,
    .tabBarItem_b9fccc:hover {
        border-bottom-color: transparent !important;
        opacity: 1;

    }

    // user info
    .tabBarItem_b9fccc:nth-child(1) {
        padding-left: 0;
    }

    // mutual servers & friends
    .listRow__9d78f {
        margin: 1px 0;
        padding: 8px;
    }

    // mutual server icons
    .listRow__9d78f .f34534e8a5d3ca64-icon {
        border-radius: 50%;
    }

    ._9d78f306fb3bc112-emptyIcon { // no common servers/friends icon
        filter: contrast(1.1) grayscale(1) brightness(1.5);
    }
}

// Unthemed
.userProfileModalOuter_c69a7b.userProfileOuterUnthemed_c69a7b {

    .userProfileModalInner_c69a7b {
        background-color: var(--nox-level2);
    }

    .infoScroller_a24910,
    ._9d78f306fb3bc112-listScroller {
        background: var(--nox-level1);
    }

    
    .listRow__9d78f:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }

}

// Themed
.userProfileModalOuter_c69a7b.userProfileOuterThemed_c69a7b {

    .infoScroller_a24910::before,
    ._9d78f306fb3bc112-listScroller::before {
        content: '';
        position: fixed;
        bottom: 4px;
        left: 4px;
        width: 600px;
        height: 264px;
        opacity: 0.75;
        background-color: var(--profile-gradient-overlay-color);
    }
    .infoScroller_a24910::after,
    ._9d78f306fb3bc112-listScroller::after {
        content: '';
        position: fixed;
        z-index: -1;
        bottom: 4px;
        left: 4px;
        width: 600px;
        height: 264px;
        background: linear-gradient(var(--profile-gradient-primary-color) -400px, var(--profile-gradient-secondary-color));
    }
    .infoScroller_a24910 > *,
    ._9d78f306fb3bc112-listScroller > * {
        position: relative;
    }
    .userProfileInnerThemedPremiumWithoutBanner_c69a7b .infoScroller_a24910::after,
    .userProfileInnerThemedPremiumWithoutBanner_c69a7b ._9d78f306fb3bc112-listScroller::after {
        background: linear-gradient(var(--profile-gradient-primary-color) -300px, var(--profile-gradient-secondary-color));
    }
}

.theme-dark {
    .tabBarItem_b9fccc:nth-child(1) { // user info
        content: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTEyIDEyYzIuMjEgMCA0LTEuNzkgNC00cy0xLjc5LTQtNC00LTQgMS43OS00IDQgMS43OSA0IDQgNHptMCAyYy0yLjY3IDAtOCAxLjM0LTggNHYyaDE2di0yYzAtMi42Ni01LjMzLTQtOC00eiIvPiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PC9zdmc+);
        padding-left: 0;
    }

    .tabBarItem_b9fccc:nth-child(2):nth-last-child(3) { // activity
        content: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTUgNy41VjJIOXY1LjVsMyAzIDMtM3pNNy41IDlIMnY2aDUuNWwzLTMtMy0zek05IDE2LjVWMjJoNnYtNS41bC0zLTMtMyAzek0xNi41IDlsLTMgMyAzIDNIMjJWOWgtNS41eiIvPjwvc3ZnPg==);
    }

    .tabBarItem_b9fccc:nth-last-child(2) { // mutual friends
        content: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTYgMTFjMS42NiAwIDIuOTktMS4zNCAyLjk5LTNTMTcuNjYgNSAxNiA1Yy0xLjY2IDAtMyAxLjM0LTMgM3MxLjM0IDMgMyAzem0tOCAwYzEuNjYgMCAyLjk5LTEuMzQgMi45OS0zUzkuNjYgNSA4IDVDNi4zNCA1IDUgNi4zNCA1IDhzMS4zNCAzIDMgM3ptMCAyYy0yLjMzIDAtNyAxLjE3LTcgMy41VjE5aDE0di0yLjVjMC0yLjMzLTQuNjctMy41LTctMy41em04IDBjLS4yOSAwLS42Mi4wMi0uOTcuMDUgMS4xNi44NCAxLjk3IDEuOTcgMS45NyAzLjQ1VjE5aDZ2LTIuNWMwLTIuMzMtNC42Ny0zLjUtNy0zLjV6Ii8+PC9zdmc+);
    }

    .tabBarItem_b9fccc:nth-last-child(1) { // mutual servers
        content: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMjAgMTNINGMtLjU1IDAtMSAuNDUtMSAxdjZjMCAuNTUuNDUgMSAxIDFoMTZjLjU1IDAgMS0uNDUgMS0xdi02YzAtLjU1LS40NS0xLTEtMXpNNyAxOWMtMS4xIDAtMi0uOS0yLTJzLjktMiAyLTIgMiAuOSAyIDItLjkgMi0yIDJ6TTIwIDNINGMtLjU1IDAtMSAuNDUtMSAxdjZjMCAuNTUuNDUgMSAxIDFoMTZjLjU1IDAgMS0uNDUgMS0xVjRjMC0uNTUtLjQ1LTEtMS0xek03IDljLTEuMSAwLTItLjktMi0ycy45LTIgMi0yIDIgLjkgMiAyLS45IDItMiAyeiIvPjwvc3ZnPg==);
    }
}

.theme-light {
    .tabBarItem_b9fccc:nth-child(1) { // user info
        content: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTEyIDEyYzIuMjEgMCA0LTEuNzkgNC00cy0xLjc5LTQtNC00LTQgMS43OS00IDQgMS43OSA0IDQgNHptMCAyYy0yLjY3IDAtOCAxLjM0LTggNHYyaDE2di0yYzAtMi42Ni01LjMzLTQtOC00eiIvPiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PC9zdmc+);
        padding-left: 0;
    }

    .tabBarItem_b9fccc:nth-child(2):nth-last-child(3) { // activity
        content: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTUgNy41VjJIOXY1LjVsMyAzIDMtM3pNNy41IDlIMnY2aDUuNWwzLTMtMy0zek05IDE2LjVWMjJoNnYtNS41bC0zLTMtMyAzek0xNi41IDlsLTMgMyAzIDNIMjJWOWgtNS41eiIvPjwvc3ZnPg==);
    }

    .tabBarItem_b9fccc:nth-last-child(2) { // mutual friends
        content: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTYgMTFjMS42NiAwIDIuOTktMS4zNCAyLjk5LTNTMTcuNjYgNSAxNiA1Yy0xLjY2IDAtMyAxLjM0LTMgM3MxLjM0IDMgMyAzem0tOCAwYzEuNjYgMCAyLjk5LTEuMzQgMi45OS0zUzkuNjYgNSA4IDVDNi4zNCA1IDUgNi4zNCA1IDhzMS4zNCAzIDMgM3ptMCAyYy0yLjMzIDAtNyAxLjE3LTcgMy41VjE5aDE0di0yLjVjMC0yLjMzLTQuNjctMy41LTctMy41em04IDBjLS4yOSAwLS42Mi4wMi0uOTcuMDUgMS4xNi44NCAxLjk3IDEuOTcgMS45NyAzLjQ1VjE5aDZ2LTIuNWMwLTIuMzMtNC42Ny0zLjUtNy0zLjV6Ii8+PC9zdmc+);
    }

    .tabBarItem_b9fccc:nth-last-child(1) { // mutual servers
        content: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMjAgMTNINGMtLjU1IDAtMSAuNDUtMSAxdjZjMCAuNTUuNDUgMSAxIDFoMTZjLjU1IDAgMS0uNDUgMS0xdi02YzAtLjU1LS40NS0xLTEtMXpNNyAxOWMtMS4xIDAtMi0uOS0yLTJzLjktMiAyLTIgMiAuOSAyIDItLjkgMi0yIDJ6TTIwIDNINGMtLjU1IDAtMSAuNDUtMSAxdjZjMCAuNTUuNDUgMSAxIDFoMTZjLjU1IDAgMS0uNDUgMS0xVjRjMC0uNTUtLjQ1LTEtMS0xek03IDljLTEuMSAwLTItLjktMi0ycy45LTIgMi0yIDIgLjkgMiAyLS45IDItMiAyeiIvPjwvc3ZnPg==);
    }
}

// fullsize
.fullSizeOuter_c69a7b {
    .statusBubbleOuter_af9888.statusBubbleOuter_af9888.statusBubbleOuter_af9888 {
        max-width: 240px;
        .ab86098b36386ff7-content {
            max-height: none !important;
        }
    }
    
    // .clamp_af9888 {
    //     -webkit-line-clamp: 9;
    // }
}