// common card styling
.userPopoutInner_c69a7b {
    background-size: 90%; // resize nox shapes background

    // replace default avatar hint
    .avatarHintInner_f89da9 {
        background-color: rgba(0, 0, 0, 0.25);
        background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTEyIDEyYzIuMjEgMCA0LTEuNzkgNC00cy0xLjc5LTQtNC00LTQgMS43OS00IDQgMS43OSA0IDQgNHptMCAyYy0yLjY3IDAtOCAxLjM0LTggNHYyaDE2di0yYzAtMi42Ni01LjMzLTQtOC00eiIvPiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PC9zdmc+);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 50%;
        box-shadow: none;
        color: transparent;

    }

    .userPopoutOverlayBackground_c69a7b { // moving layout to body sections
        margin: 0;
    }

    .divider_ae36e5 { // hide divider below name
        display: none;
    }

    .scrollerSeparator_d2b491 { // hide divider when scrolling on large cards
        box-shadow: none;
    }

    .scroller_d2b491 { // place scrollbar on top of content move padding to children
        padding: 0 !important;
        overflow: hidden overlay !important;
    }

    .profileBadges_f89da9 { // profile badges
        padding: 4px;
        background: none;
    }

    .section_d7a21f, // card body padding moved from scroller & spacing between sections
    .profileMutuals_d2b491 {
        position: relative;
        padding: 12px 16px 0;
    }

    .section_d7a21f:has(.activity_e36233) { // activity bg + layout
        margin-top: 6px;
        padding-bottom: 12px;
        background: var(--nox-black3);
    }

    .section_d7a21f:has(.note_c90ad7) { // add space before note/footer section
        margin-top: 12px;
    }

    .lastSection_d7a21f { // creates padding between last section and end of card
        padding-bottom: 12px;
    }

    .note_c90ad7 {
        textarea { // align note text with title
            width: calc(100% + 4px);
            margin-left: -4px;
        }
    }

    .messageInputContainer_f2c0a8 { // remove quickmessage border
        border: 0;
    }

    .messageInputContainer_f2c0a8::after { // quickmessage bottom border animation
        content: '';
        position: relative;
        bottom: 0;
        left: auto;
        width: 0;
        height: 2px;
        transition: all ease-in-out 0.3s;
        background: var(--nox-accent);
    }

    .messageInputContainer_f2c0a8:focus-within::after { // quickmessage bottom border animation
        width: 308px;
    }

}

// Recolor card background for unthemed cards
.userPopoutOuter_c69a7b.userProfileOuterUnthemed_c69a7b {
    background-color: var(--nox-level2);

    // .avatar__44b0c { // avatar bg
    //     background: var(--nox-level2);
    // }

    .userPopoutOverlayBackground_c69a7b .section_d7a21f:has(.note_c90ad7), // note section
    .userPopoutOverlayBackground_c69a7b .section_d7a21f.section_f2c0a8 { // quick message section
        background-color: var(--nox-level1);
    }
}

// Remove default coloring
.userPopoutInner_c69a7b.userProfileInnerThemedNonPremium_c69a7b,
.userPopoutOverlayBackground_c69a7b {
    background-color: transparent;
}

// Role stuff
.role__48c1c { // set up role bg
    padding: 0 2px 0 6px;
    overflow: hidden;
    border-width: 0;
    border-radius: 3px;
    background: none;

    .roleName__48c1c { // puts text on top of role bg
        z-index: 1;
    }

    .roleIcon__48c1c { // role icon styling and puts on top of role bg 
        position: relative;
        z-index: 1;
        height: auto;
        border-radius: 3px;
    }

    .roleRemoveButton__48c1c { // move remove role button to end
        order: 2;

        // role bg color
        .roleCircle__4f569::before,
        .roleFlowerStar__48c1c::before {
            content: "";
            visibility: visible;
            position: absolute;
            right: -10px;
            width: 308px;
            height: 22px;
            opacity: 0.6;
            background-color: inherit;
        }
    
        .roleFlowerStar__48c1c::before { // connected account role layout fix
            top: -4px;
        }

        // hide role circle
        .roleCircle__4f569,
        .roleFlowerStar__48c1c {
            visibility: hidden;
            margin: 0;
        }

    }

    .roleRemoveButton__48c1c[aria-hidden="false"] { // re-add remove role button if removable role
        margin-right: 2px;
        background: transparent;
        background-image: url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0icm9sZVJlbW92ZUljb24tMml1MGlFIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDEyIDEyIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0wIDBoMTJ2MTJIMCI+PC9wYXRoPjxwYXRoIGNsYXNzPSJmaWxsIiBmaWxsPSIjZmZmZmZmIiBkPSJNOS41IDMuMjA1TDguNzk1IDIuNSA2IDUuMjk1IDMuMjA1IDIuNWwtLjcwNS43MDVMNS4yOTUgNiAyLjUgOC43OTVsLjcwNS43MDVMNiA2LjcwNSA4Ljc5NSA5LjVsLjcwNS0uNzA1TDYuNzA1IDYiPjwvcGF0aD48L2c+PC9zdmc+);    
    }

    // remove space occupied by role circle
    .roleRemoveButton__48c1c[aria-hidden="true"] .roleCircle__4f569,
    .roleRemoveButton__48c1c:has(.roleFlowerStar__48c1c) {
        width: 0;
    }
}

// Themed card stuff
.userPopoutOuter_c69a7b.userProfileOuterThemed_c69a7b .userPopoutInner_c69a7b {

    // remove online indicator outline on themed cards
    .avatarWrapper_f89da9 circle,
    .avatarWrapper_f89da9 rect[fill="black"] {
        visibility: hidden;
    }

    // adds background to pfps to block nox shapes
    // .avatarStack__44b0c::before {
    //     content: '';
    //     width: 100%;
    //     height: 100%;
    //     border-radius: 50%;
    //     position: absolute;
    //     // background: linear-gradient(var(--profile-gradient-primary-color) -40px, var(--profile-gradient-secondary-color) 40vh);
    //     z-index: -1;
    // }

    // darkens avatar background
    // .avatar__44b0c {
    //     border-radius: 50%;
    //     // background-color: var(--profile-gradient-overlay-color);
    //     // position: relative;
    //     // z-index: 100000;
    // }

    // solid background for notes + quick message

    // setup solid bg
    .section_f2c0a8::before,
    .lastSection_d7a21f:not(.section_f2c0a8)::before,
    .section_f2c0a8::after,
    .lastSection_d7a21f:not(.section_f2c0a8)::after {
        content: '';
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    // has quickmessage
    .section_f2c0a8::before,
    .section_f2c0a8::after {
        height: calc(200% + 9px);
    }
    // no quickmessage
    .lastSection_d7a21f:not(.section_f2c0a8)::before,
 
    .lastSection_d7a21f:not(.section_f2c0a8)::after {
        height: 100%;
    }

    // adds actual bg
    .section_f2c0a8::before,
    .lastSection_d7a21f:not(.section_f2c0a8)::before {
        background: linear-gradient(var(--profile-gradient-primary-color) -40vh, var(--profile-gradient-secondary-color));
    }
    .section_f2c0a8::after,
    .lastSection_d7a21f:not(.section_f2c0a8)::after {
        opacity: 0.75;
        background-color: var(--profile-gradient-overlay-color);
    }

    // puts notes+quickmessage back above bg
    .section_d7a21f:has(.note_c90ad7) .title_c4a579,
    .section_d7a21f:has(.note_c90ad7) .note_c90ad7,
    .section_f2c0a8 .inputWrapper__0f084 {
        position: relative;
        z-index: 1;
    }
}


// bitesized
.invisibleContainer_af9888 {
    display: none;
}

.biteSizeOuter_c69a7b .visibleContainer_af9888.biteSize_ab8609 {
    position: relative;
    top: 28px;
    left: 0;
}

.statusBubbleOuter_af9888.statusBubbleOuter_af9888.statusBubbleOuter_af9888 {
    min-width: unset;
    max-width: unset;
    border: 0;
    border-radius: 0;
    background: none;
    box-shadow: none;

    &::before,
    &::after {
        content: none;
    }
}

.statusBubble_af9888 {
    padding: 16px;
    border-radius: 0;
    background: none;

    .content_ab8609 {
        text-align: left;
    }
}

.biteSizeOuter_c69a7b:has(.visibleContainer_af9888) .body__5be3e {
    margin-top: 16px;
}