// Dark & unthemed popouts
.userPopoutOuter_c69a7b.theme-dark {
    .title_c4a579 { // headings
        color: var(--nox-white);
    }

    .text-sm-normal__95a78, // join dates
    .discordIcon__1e1be { // discord logo
        color: var(--nox-white7) !important;
    }

    .nickname_c9ccf6 { // nickname
        color: var(--nox-white);
    }

    .pronouns_c9ccf6 { // pronouns
        color: var(--nox-white7);
    }

    .userTagUsernameBase_c9ccf6 { // username
        color: var(--nox-white7);
    }

    .discrimBase_c9ccf6 { // discriminator
        color: var(--nox-white5);
    }
    
    .customStatus__3aa7f { // status
        color: var(--nox-white7);
    }

    .activityUserPopoutV2_c1d9fd { // activity
        ._2ef4989efde1f4e4-headerText { // heading
            color: var(--nox-white);
        }
        ._2ef4989efde1f4e4-activityName, // content
        .null { // time
            color: var(--nox-white7);
        }
    }

    // notes section
    .note_c90ad7 {
        textarea {
            color: var(--nox-white6);
        }

        textarea::placeholder {
            color: var(--nox-white2);
        }
    
        textarea:focus {
            background-color: var(--nox-black2);
        }

        textarea:focus::placeholder {
            color: var(--nox-white4);
        }
    }

    // quick message section
    .messageInputContainer_f2c0a8 {

        .input_df4dd0 {
            color: var(--nox-white9);
        }

        .input_df4dd0::input-placeholder {
            color: var(--nox-white2);
        }

        .input_df4dd0:focus::input-placeholder {
            color: var(--nox-white6);
        }
    }

}

// Light themed popouts
.userPopoutOuter_c69a7b.theme-light {
    .title_c4a579 { // headings
        color: var(--nox-black);
    }

    .text-sm-normal__95a78, // join dates
    .discordIcon__1e1be { // discord logo
        color: var(--nox-black8);
    }

    .nickname_c9ccf6 { // nickname
        color: var(--nox-black);
    }

    .pronouns_c9ccf6 { // pronouns
        color: var(--nox-black8);
    }

    .userTagUsernameBase_c9ccf6 { // username
        color: var(--nox-black8);
    }

    .discrimBase_c9ccf6 { // discriminator
        color: var(--nox-black6);
    }

    .customStatus__3aa7f { // status
        color: var(--nox-black8);
    }

    .activityUserPopoutV2_c1d9fd { // activity
        ._2ef4989efde1f4e4-headerText { // heading
            color: var(--nox-black);
        }
        ._2ef4989efde1f4e4-nameWrap { // content
            color: var(--nox-black8);
        }
    }

    // notes section
    .note_c90ad7 {
        textarea {
            color: var(--nox-black7);
        }

        textarea::placeholder {
            color: var(--nox-black5);
        }
    
        textarea:focus {
            background-color: var(--nox-white1);
        }

        textarea:focus::placeholder {
            color: var(--nox-black6);
        }

        textarea::selection {
            color: var(--nox-black);
        }
    }

    // quick message section
    .messageInputContainer_f2c0a8 {

        .input_df4dd0 {
            color: var(--nox-black9);
        }

        .input_df4dd0::input-placeholder {
            color: var(--nox-black5);
        }

        .input_df4dd0:focus::input-placeholder {
            color: var(--nox-black7);
        }

    }
}

// Dark & unthemed modals
.userProfileModalOuter_c69a7b.theme-dark {
    //top section

    .text-lg-semibold__84aef { // nickname
        color: var(--nox-white);
    }

    .discriminator-hnHkyt:first-child { // username
        color: var(--nox-white7);
    }

    .discriminator-hnHkyt { // discriminator
        color: var(--nox-white5);
    }

    .pronouns-RGQpyK, // pronouns
    .customStatusText-1uNQ8w { // status
        color: var(--nox-white7) !important;
    }


    // user info

    .userInfoSectionHeader-2mYYun { // headings
        color: var(--nox-white);
    }
    
    .text-sm-normal__95a78 { // body text
        color: var(--nox-white7);
    }

    // notes section
    .note-3M15gE {
        textarea {
            color: var(--nox-white6);
        }

        textarea::placeholder {
            color: var(--nox-white2);
        }
    
        textarea:focus {
            background-color: var(--nox-black2);
        }

        textarea:focus::placeholder {
            color: var(--nox-white4);
        }

        textarea::selection {
            color: var(--nox-white);
        }
    }

    .listRowContent__9d78f { // mutual server title
        color: var(--nox-white7);
    }
    .guildNick_aafe31 { // mutual server nickname
        color: var(--nox-white4);
    }

    .listName__9d78f { // mutual friend name
        color: var(--nox-white7);
    }
    .listDiscriminator__9d78f { // mutual friend discriminator
        color: var(--nox-white4);
    }

    ._9d78f306fb3bc112-emptyText { // no servers/friends in common
        color: var(--nox-white5);
    }

    .additionalActionsIcon-3Cy8UU { // menu button next to send message
        color: var(--nox-white6);
    }
}