@use "../elevations";

// outer menu
.c1e9c47c23f12ca3-menu {
    padding: 0 8px;
    overflow: visible;
    border: 0;
    border-radius: 2px;
    background: none;
    box-shadow: none;
}

.c1e9c47c23f12ca3-menu.subc1e9c47c23f12ca3-menu {
    padding: 0;
}

// divider line
.c1e9c47c23f12ca3-separator {
    display: none;
}

// inner menu
.c1e9c47c23f12ca3-scroller {
    padding: 0;
    overflow: hidden auto !important;
    background-color: var(--nox-level2);
    box-shadow: elevations.$elevation-shadow;

    // menu items
    .c1e9c47c23f12ca3-item {
        margin: 0;
        padding: 10px 12px 10px 16px;
        border-radius: 0;

        &.c1e9c47c23f12ca3-colorDefault {
            color: var(--nox-white6);

            &.c1e9c47c23f12ca3-focused {
                // background-color: rgba(225, 225, 225, 0.03);
                background-color: var(--nox-accent);
                color: var(--nox-white8);
            }
        }

        &.c1e9c47c23f12ca3-colorBrand {
            color: var(--nox-accent);

            &.c1e9c47c23f12ca3-focused {
                background-color: var(--nox-accent);
                color: var(--nox-white9);
            }
        }

        &.c1e9c47c23f12ca3-colorDanger {
            color: #f04747;

            &.c1e9c47c23f12ca3-focused {
                background-color: #f04747;
                color: var(--nox-white9);
            }
        }

    }

    // quick reacts
    .f563df886a7377be-wrapper {
        padding: 6px;
    }
    .f563df886a7377be-button {
        border-radius: 50%;
        background-color: rgba(225, 225, 225, 0.05);

        &:hover {
            background-color: rgba(225, 225, 225, 0.07);
        }
    }
}