// outer menu
.menu_c1e9c4 {
    box-shadow: none;
    background: none;
    border: none;
    overflow: visible;
    border-radius: 2px;
    padding: 0 8px;
}

.menu_c1e9c4.submenu_c1e9c4 {
    padding: 0;
}

// divider line
.separator_c1e9c4 {
    display: none;
}

// inner menu
.scroller_c1e9c4 {
    box-shadow: $elevation-shadow;
    padding: 0;
    overflow: hidden auto !important;
    background-color: var(--nox-level2);

    // menu items
    .item_c1e9c4 {
        margin: 0;
        padding: 10px 12px 10px 16px;
        border-radius: 0;

        &.colorDefault_c1e9c4 {
            color: var(--nox-white6);

            &.focused_c1e9c4 {
                // background-color: rgba(225, 225, 225, 0.03);
                background-color: var(--nox-accent);
                color: var(--nox-white8);
            }
        }

        &.colorBrand_c1e9c4 {
            color: var(--nox-accent);

            &.focused_c1e9c4 {
                background-color: var(--nox-accent);
                color: var(--nox-white9);
            }
        }

        &.colorDanger_c1e9c4 {
            color: #F04747;

            &.focused_c1e9c4 {
                background-color: #F04747;
                color: var(--nox-white9);
            }
        }

    }

    // quick reacts
    .wrapper_f563df {
        padding: 6px;
    }
    .button_f563df {
        background-color: rgba(225, 225, 225, 0.05);
        border-radius: 50%;

        &:hover {
            background-color: rgba(225, 225, 225, 0.07);
        }
    }
}