.wordmark__421ed {
    padding: 0;
    font-size: 12px;
}

.wordmark__421ed::before {
    content: "";
    display: block;
    width: 70px;
    height: 17px;
    margin: 3px 0;
    background-image: url(inline-image("resources/images/logo.png"));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.wordmark__421ed svg {
    display: none;
}

.titleBar__421ed {
    background: #191919 !important;
}

.typeWindows__421ed {
    margin-top: 0;
    padding-top: 4px;
}