.c38106a3f0c3ca76-leading::before {
    content: "";
    display: block;
    width: 70px;
    height: 17px;
    margin: 3px 0;
    background-image: url(inline-image("resources/images/logo.png"));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.c38106a3f0c3ca76-bar {
    padding-left: 0;
    background: #191919;
}