.tooltipPointer__382e7.tooltipPointer__382e7.tooltipPointer__382e7 {
    border-top-color: var(--nox-level3);
}

.tooltipBlack__382e7.tooltipBlack__382e7,
.tooltipPrimary__382e7.tooltipPrimary__382e7 {
    background-color: var(--nox-level3);
    color: var(--nox-white7);
}

// message buttons
._5126c0cd07f243a0-buttonsInner {
    background-color: var(--nox-level2);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1) !important;
}

.f7ecaca5c80dbf3a-button {
    color: var(--nox-white7);

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: var(--nox-white9);
    }

    &:active {
        background-color: rgba(255, 255, 255, 0.15);
        color: var(--nox-white9);
    }

    &.f7ecaca5c80dbf3a-selected {
        background-color: rgba(0, 0, 0, 0.3);
        color: var(--nox-white9);
    }
}

// formatting toolbar
.bba88350df28dff1-toolbar {
    background: var(--nox-level3);

    &::before {
        border-top-color: var(--nox-level3);
    }

    .bba88350df28dff1-icon {
        color: var(--nox-white6);
    }

    .hover_d0ebf2:hover,
    .active__05fbc {
        background: rgba(255, 255, 255, 0.15);

        .bba88350df28dff1-icon {
            color: var(--nox-white9);
        }
    }
}

// toasts
.bd-toast {
    background-color: var(--nox-level1);
    color: var(--nox-white9);
}