@use "../../elevations";

// Remove rounded corner at top left of channel list and allow shadow
._5e434347c823b592-sidebarList {
    z-index: elevations.$channels-elevation;
    overflow: visible;
    border: 0;
    border-radius: 0;
    box-shadow: elevations.$elevation-shadow;
}

// Main channel list container
._5e434347c823b592-sidebar ._2637a2609f343032-container {
    background: var(--nox-level2);
}

// Scroller
._5e434347c823b592-sidebar ._629e4c86564a4ee7-scroller {
    margin-bottom: 0;
}

._5e434347c823b592-sidebar ._629e4c86564a4ee7-scroller::-webkit-scrollbar {
    width: 8px !important;
    border-radius: 0 !important;
    background: var(--nox-level2) !important;
}

._5e434347c823b592-sidebar ._629e4c86564a4ee7-scroller::-webkit-scrollbar-thumb {
    visibility: visible !important;
    border: 0 solid transparent !important;
    border-left: 4px solid var(--nox-level2) !important;
    border-radius: 0 !important;
    background: rgba(255, 255, 255, 0.05) !important;
}

._5e434347c823b592-sidebar ._629e4c86564a4ee7-scroller::-webkit-scrollbar-thumb:hover {
    background: var(--nox-white1) !important;
}

._5e434347c823b592-sidebar ._629e4c86564a4ee7-scroller::-webkit-scrollbar-thumb:active {
    background: var(--nox-white2) !important;
}

._5e434347c823b592-sidebar ._629e4c86564a4ee7-scroller::-webkit-scrollbar-track {
    background: transparent !important;
}

._5e434347c823b592-sidebar ._629e4c86564a4ee7-scroller::-webkit-scrollbar-thumb {
    display: var(--nox-channels-scrollbar);
}

._2ea32c412048f708-wrapper:hover ._2ea32c412048f708-link {
    background: rgba(255, 255, 255, 0.05);
}

._2ea32c412048f708-modeSelected ._2ea32c412048f708-link,
._2ea32c412048f708-modeSelected:hover ._2ea32c412048f708-link {
    background: var(--nox-level3);
}

// name and icon color
._29444ba32c7fbeab-name,
._2ea32c412048f708-name,
._2ea32c412048f708-icon {
    color: var(--nox-white4);
}

// muted name and icon color
._2ea32c412048f708-wrapper._2ea32c412048f708-modeMuted ._2ea32c412048f708-name,
._2ea32c412048f708-wrapper._2ea32c412048f708-modeMuted ._2ea32c412048f708-icon,
._29444ba32c7fbeab-wrapper._29444ba32c7fbeab-muted ._29444ba32c7fbeab-name,
._29444ba32c7fbeab-wrapper._29444ba32c7fbeab-muted ._29444ba32c7fbeab-icon {
    color: var(--nox-white1);
}

// hover name and icon color
._29444ba32c7fbeab-wrapper._29444ba32c7fbeab-muted:hover ._29444ba32c7fbeab-icon,
._29444ba32c7fbeab-wrapper._29444ba32c7fbeab-muted:hover ._29444ba32c7fbeab-name,
._29444ba32c7fbeab-wrapper:hover ._29444ba32c7fbeab-icon,
._29444ba32c7fbeab-wrapper:hover ._29444ba32c7fbeab-name,
._2ea32c412048f708-wrapper:hover ._2ea32c412048f708-name,
._2ea32c412048f708-wrapper:hover ._2ea32c412048f708-icon,
._2ea32c412048f708-wrapper:hover .c69b6db0641110f6-actionIcon {
    color: var(--nox-white6);
}

// selected/unread name and icon color
._2ea32c412048f708-wrapper._2ea32c412048f708-modeSelected ._2ea32c412048f708-name,
._2ea32c412048f708-wrapper._2ea32c412048f708-modeSelected ._2ea32c412048f708-icon,
._2ea32c412048f708-wrapper._2ea32c412048f708-modeSelected .c69b6db0641110f6-actionIcon,
._2ea32c412048f708-modeUnreadImportant ._2ea32c412048f708-name,
._2ea32c412048f708-modeUnreadImportant:hover ._2ea32c412048f708-name,
._2ea32c412048f708-modeUnreadImportant ._2ea32c412048f708-icon,
._2ea32c412048f708-modeUnreadImportant:hover ._2ea32c412048f708-icon {
    color: var(--nox-white9);
}

// userlimit
._260e1982cd52c5c3-wrapper {
    color: var(--nox-white4);
}
._260e1982cd52c5c3-users {
    background-color: var(--nox-level1);
}
._260e1982cd52c5c3-total {
    background-color: var(--nox-level3);
}
._260e1982cd52c5c3-total::after {
    border-right-color: var(--nox-level3);
}

// Private channels
.theme-dark ._99e7cad8d4c55236-scroller {
    margin-bottom: calc(var(--custom-app-panels-height, 0));
    background: var(--nox-level2);
}

.bf202d63ad53e289-interactive:hover {
    background: rgba(255, 255, 255, 0.05);
    color: var(--nox-white6);
}

._972a0d22c8afa7f0-interactiveSelected,
.bf202d63ad53e289-interactive:hover._972a0d22c8afa7f0-interactiveSelected,
.bf202d63ad53e289-interactive:focus-within._972a0d22c8afa7f0-interactiveSelected {
    background: var(--nox-level3);
    color: var(--nox-white9);
}

._972a0d22c8afa7f0-interactive,
._99e7cad8d4c55236-privateChannelsHeaderContainer,
._9293f6b2fc12398a-clickable ._9293f6b2fc12398a-icon {
    color: var(--nox-white4);
}
._99e7cad8d4c55236-privateChannelsHeaderContainer:hover,
._9293f6b2fc12398a-clickable:hover ._9293f6b2fc12398a-icon {
    color: var(--nox-white6);
}