@use "../../elevations";

// Remove rounded corner at top left of channel list and allow shadow
.platform-win .sidebarList_c48ade {
    z-index: elevations.$channels-elevation;
    overflow: visible;
    border: 0;
    border-radius: 0;
    box-shadow: elevations.$elevation-shadow;
}

// Main channel list container
.sidebar_c48ade .container__2637a {
    background: var(--nox-level2);
}

// Scroller
.sidebar_c48ade .scroller__629e4 {
    margin-bottom: 0;
}

.sidebar_c48ade .scroller__629e4::-webkit-scrollbar {
    width: 8px !important;
    border-radius: 0 !important;
    background: var(--nox-level2) !important;
}

.sidebar_c48ade .scroller__629e4::-webkit-scrollbar-thumb {
    visibility: visible !important;
    border: 0 solid transparent !important;
    border-left: 4px solid var(--nox-level2) !important;
    border-radius: 0 !important;
    background: rgba(255, 255, 255, 0.05) !important;
}

.sidebar_c48ade .scroller__629e4::-webkit-scrollbar-thumb:hover {
    background: var(--nox-white1) !important;
}

.sidebar_c48ade .scroller__629e4::-webkit-scrollbar-thumb:active {
    background: var(--nox-white2) !important;
}

.sidebar_c48ade .scroller__629e4::-webkit-scrollbar-track {
    background: transparent !important;
}

.sidebar_c48ade .scroller__629e4::-webkit-scrollbar-thumb {
    display: var(--nox-channels-scrollbar);
}

.wrapper__2ea32:hover .link__2ea32 {
    background: rgba(255, 255, 255, 0.05);
}

.modeSelected__2ea32 .link__2ea32,
.modeSelected__2ea32:hover .link__2ea32 {
    background: var(--nox-level3);
}

// name and icon color
.name__29444,
.name__2ea32,
.icon__2ea32 {
    color: var(--nox-white4);
}

// muted name and icon color
.wrapper__2ea32.modeMuted__2ea32 .name__2ea32,
.wrapper__2ea32.modeMuted__2ea32 .icon__2ea32,
.wrapper__29444.muted__29444 .name__29444,
.wrapper__29444.muted__29444 .icon__29444 {
    color: var(--nox-white1);
}

// hover name and icon color
.wrapper__29444.muted__29444:hover .icon__29444,
.wrapper__29444.muted__29444:hover .name__29444,
.wrapper__29444:hover .icon__29444,
.wrapper__29444:hover .name__29444,
.wrapper__2ea32:hover .name__2ea32,
.wrapper__2ea32:hover .icon__2ea32,
.wrapper__2ea32:hover .actionIcon_c69b6d {
    color: var(--nox-white6);
}

// selected/unread name and icon color
.wrapper__2ea32.modeSelected__2ea32 .name__2ea32,
.wrapper__2ea32.modeSelected__2ea32 .icon__2ea32,
.wrapper__2ea32.modeSelected__2ea32 .actionIcon_c69b6d,
.modeUnreadImportant__2ea32 .name__2ea32,
.modeUnreadImportant__2ea32:hover .name__2ea32,
.modeUnreadImportant__2ea32 .icon__2ea32,
.modeUnreadImportant__2ea32:hover .icon__2ea32 {
    color: var(--nox-white9);
}

// userlimit
.wrapper__260e1 {
    color: var(--nox-white4);
}
.users__260e1 {
    background-color: var(--nox-level1);
}
.total__260e1 {
    background-color: var(--nox-level3);
}
.total__260e1::after {
    border-right-color: var(--nox-level3);
}

// Private channels
.theme-dark .scroller__99e7c {
    margin-bottom: calc(var(--custom-app-panels-height, 0));
    background: var(--nox-level2);
}

.interactive_bf202d:hover {
    background: rgba(255, 255, 255, 0.05);
    color: var(--nox-white6);
}

.interactiveSelected__972a0,
.interactive_bf202d:hover.interactiveSelected__972a0,
.interactive_bf202d:focus-within.interactiveSelected__972a0 {
    background: var(--nox-level3);
    color: var(--nox-white9);
}

.interactive__972a0,
.privateChannelsHeaderContainer__99e7c,
.clickable__9293f .icon__9293f {
    color: var(--nox-white4);
}
.privateChannelsHeaderContainer__99e7c:hover,
.clickable__9293f:hover .icon__9293f {
    color: var(--nox-white6);
}