// Sidebar background color
.standardSidebarView__23e6b .sidebarRegionScroller__23e6b {
    background: var(--nox-level3);
}

// Separator style
.sidebarRegionScroller__23e6b .separator-2wx7h6 {
    height: 2px !important;
    background: rgba(255, 255, 255, 0.04) !important;
}