// Sidebar background color
._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebarRegionScroller {
    background: var(--nox-level3);
}

// Separator style
._23e6b439306f125a-sidebarRegionScroller .separator-2wx7h6 {
    height: 2px !important;
    background: rgba(255, 255, 255, 0.04) !important;
}