// Tab background and color for hover
._23e6b439306f125a-sidebar .side-2ur1Qk .item-3XjbnG.themed-2-lozF:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: var(--nox-white);
}

// Selected tab
._23e6b439306f125a-sidebar .side-2ur1Qk .item-3XjbnG.themed-2-lozF.selected-g-kMVV:hover,
._23e6b439306f125a-sidebar .side-2ur1Qk .item-3XjbnG.themed-2-lozF.selected-g-kMVV {
    background: var(--nox-accent);
}