.container_e131a9 {
    border: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0.1));
    background-color: var(--nox-level3);
}

.horizontal__7c0ba .button__67645.button__67645 {
    transition: all 50ms ease, background 100ms ease;
    opacity: 0.3;
    background-color: transparent !important;
    background-repeat: no-repeat;
    background-position: 50% !important;
    background-size: 60% !important;
    color: var(--nox-white) !important;
}

.horizontal__7c0ba .button__67645:hover {
    opacity: 0.7;
}
.horizontal__7c0ba .button__67645:active {
    transition: all 0ms ease, background 100ms ease;
    opacity: 1;
}

.horizontal__7c0ba .button__67645::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 300ms ease;
    border-radius: 50%;
    opacity: 0;
    background: var(--nox-white);
    pointer-events: none;
}

.horizontal__7c0ba .button__67645:active::after {
    transition: 0ms ease;
    animation: scale 200ms cubic-bezier(0, 0, 0, 1);
    opacity: 0.1;
}

.button__67645[aria-label="Disconnect"] {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgOWMtMS42IDAtMy4xNS4yNS00LjYuNzJ2My4xYzAgLjM5LS4yMy43NC0uNTYuOS0uOTguNDktMS44NyAxLjEyLTIuNjYgMS44NS0uMTguMTgtLjQzLjI4LS43LjI4LS4yOCAwLS41My0uMTEtLjcxLS4yOUwuMjkgMTMuMDhjLS4xOC0uMTctLjI5LS40Mi0uMjktLjcgMC0uMjguMTEtLjUzLjI5LS43MUMzLjM0IDguNzggNy40NiA3IDEyIDdzOC42NiAxLjc4IDExLjcxIDQuNjdjLjE4LjE4LjI5LjQzLjI5LjcxIDAgLjI4LS4xMS41My0uMjkuNzFsLTIuNDggMi40OGMtLjE4LjE4LS40My4yOS0uNzEuMjktLjI3IDAtLjUyLS4xMS0uNy0uMjgtLjc5LS43NC0xLjY5LTEuMzYtMi42Ny0xLjg1LS4zMy0uMTYtLjU2LS41LS41Ni0uOXYtMy4xQzE1LjE1IDkuMjUgMTMuNiA5IDEyIDl6Ii8+PC9zdmc+);
}

.button__67645[aria-label="Disconnect"] .contents__201d5 {
    display: none;
}

.statusWithPopout_adcaac:hover {
    text-decoration: none;
    filter: brightness(1.3);
}
.rtcConnectionStatusConnected_c0cb95,
.rtcConnectionQualityFine_c0cb95 .pingForeground_c0cb95 {
    color: var(--nox-accent);
}

.channel_e131a9 {
    color: var(--nox-white6);
}
.channel_e131a9:hover {
    color: var(--nox-white8);
    text-decoration: none;
}


//rtc popout
.graphContainer_cc9e14 {
    background: var(--nox-level2);
}
.popoutText_aa3bfa {
    color: var(--nox-white6);
}
.popoutText_aa3bfa.popoutTextDetails_bcf54c {
    color: var(--nox-white4);
}

@keyframes scale {
    from {
        transform: scale(0);
    }
}