// Content background color
._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-contentRegionScroller {
    background: var(--nox-level2);
}

._23e6b439306f125a-contentColumn ._0f0849b61557225e-input,
._6a919231d4bdfd4f-bioTextArea._6a919231d4bdfd4f-bioTextArea {
    background-color: var(--nox-level1);
}

._88a69141dd70013a-itemFilled {
    background-color: var(--nox-level3);
}

._88a69141dd70013a-itemFilled[aria-checked="true"] {
    background-color: var(--nox-level1);
}

.aa8da23faa27393c-top .aa8da23faa27393c-brand.aa8da23faa27393c-item:hover {
    border-color: var(--nox-white4);
}
.aa8da23faa27393c-top .aa8da23faa27393c-brand.aa8da23faa27393c-selected.aa8da23faa27393c-item {
    border-color: var(--nox-accent);
}

.eb2508e5fd9f2b15-avatarBackground {
    background-color: transparent;
}

.d878e741f1c1999b-health {
    width: 95%;
}
.d878e741f1c1999b-line,
.d878e741f1c1999b-marker {
    background-color: var(--nox-level3);
}
.d878e741f1c1999b-marker .d878e741f1c1999b-empty {
    background-color: var(--nox-level1);
}

.cardPrimary_cb7a0e._730694f5672c9601-outline {
    border: 0;
    background: var(--nox-level3);
}

.connectContainer_c7f964 {
    background-color: var(--nox-level1);
}
.c7f964e7e0fc8b47-accountButtonInner {
    background-color: var(--nox-level2);
}

.c7f964e7e0fc8b47-connection {
    background-color: var(--nox-level1-5);
}
.c7f964e7e0fc8b47-connectionHeader {
    background: var(--nox-level1);
}
.c7f964e7e0fc8b47-metadataContainer,
.c7f964e7e0fc8b47-integration {
    background-color: var(--nox-level2);
}

#appearance-tab .cardPrimary_cb7a0e._730694f5672c9601-outline {
    background-color: var(--nox-level1);
}

#bd-editor-controls {
    background-color: var(--nox-level1);
}

.bd-addon-list .bd-addon-card {
    background: var(--nox-level1-5);
}
.bd-addon-list .bd-addon-header {
    background: var(--nox-level1);
}