// Content background color
.standardSidebarView__23e6b .contentRegionScroller__23e6b {
    background: var(--nox-level2);
}

.contentColumn__23e6b .input__0f084,
.bioTextArea__6a919.bioTextArea__6a919 {
    background-color: var(--nox-level1);
}

.itemFilled__001a7 {
    background-color: var(--nox-level3);
}

.itemFilled__001a7[aria-checked="true"] {
    background-color: var(--nox-level1);
}

.top_b3f026 .brand_b3f026.item_b3f026:hover {
    border-color: var(--nox-white4);
}
.top_b3f026 .brand_b3f026.selected_b3f026.item_b3f026 {
    border-color: var(--nox-accent);
}

.avatarBackground_eb2508 {
    background-color: transparent;
}

.health_d878e7 {
    width: 95%;
}
.line_d878e7,
.marker_d878e7 {
    background-color: var(--nox-level3);
}
.marker_d878e7 .empty_d878e7 {
    background-color: var(--nox-level1);
}

.cardPrimary_cb7a0e.outline__73069 {
    background: var(--nox-level3);
    border: none;
}

.connectContainer_c7f964 {
    background-color: var(--nox-level1);
}
.accountButtonInner_c7f964 {
    background-color: var(--nox-level2);
}

.connection_c7f964 {
    background-color: var(--nox-level1-5);
}
.connectionHeader_c7f964 {
    background: var(--nox-level1);
}
.metadataContainer_c7f964,
.integration_c7f964 {
    background-color: var(--nox-level2);
}

#appearance-tab .cardPrimary_cb7a0e.outline__73069 {
    background-color: var(--nox-level1);
}

#bd-editor-controls {
    background-color: var(--nox-level1);
}

.bd-addon-list .bd-addon-card {
    background: var(--nox-level1-5);
}
.bd-addon-list .bd-addon-header {
    background: var(--nox-level1);
}