// Seems un-needed, will have to verify
// // Home Icon
// .homeIcon__560eb {
//     width: 32px;
//     height: 32px;
// }

// Change to home symbol
._6e9f8dce4cc18de3-childWrapper {
    svg {
        width: 32px;
        height: 32px;
    }
    path {
        d: path("M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z") !important;
    }
}