// Seems un-needed, will have to verify
// // Home Icon
// .homeIcon__560eb {
//     width: 32px;
//     height: 32px;
// }

// Change to home symbol
.childWrapper__6e9f8 path {
    d: path("M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z") !important;
}

.childWrapper__6e9f8 {
    img {
        display: none;
    }
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='2 3 20 17'%3E%3Cpath d='M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z' fill='%23fff' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center 45%;
}