// blanks pill item
._650eb104245d257b-listItem ._581051df43c5ebb6-item {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    background: none;
}

// set up hover/active/selected bg
.e5445cbd3ad226f2-blobContainer > .cc5dd25190031396-wrapper::after,
._48112cbe77dc5022-folderButton::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    background: none;
}

// hover bg
:is(.cc5dd25190031396-wrapper, ._48112cbe77dc5022-folderButton):hover::after {
    background: var(--nox-white1);
}

// active bg
:is(.cc5dd25190031396-wrapper, ._48112cbe77dc5022-folderButton):active::after,
._650eb104245d257b-listItem:has(._581051df43c5ebb6-item[style^="opacity: 1; height: 40px; transform:"]) :is(.cc5dd25190031396-wrapper, ._48112cbe77dc5022-folderButton)::after {
    background: var(--nox-black2);
}

// set up unread circle
.e5445cbd3ad226f2-blobContainer > .cc5dd25190031396-wrapper::before,
._48112cbe77dc5022-folderButton::before {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 52px;
    height: 52px;
    margin: auto;
    border: var(--nox-notification-width) solid transparent;
    border-radius: 50%;
    opacity: 0.7;
}

// unread
._650eb104245d257b-listItem:has(._581051df43c5ebb6-item[style^="opacity: 1; height: 8px; transform:"]) :is(.cc5dd25190031396-wrapper, ._48112cbe77dc5022-folderButton)::before {
    border-color: var(--nox-notification-color);
}

// change hover/active/selected background for folders
ul[id*=folder-items] .cc5dd25190031396-wrapper::after {
    left: 5px;
    width: 60px;
}

// prevent hover highlight for open folder icon
._48112cbe77dc5022-folderGroup._48112cbe77dc5022-isExpanded ._48112cbe77dc5022-folderButton::after {
    content: none;
}
._48112cbe77dc5022-folderButton:focus ._48112cbe77dc5022-folderIcon._48112cbe77dc5022-folderIcon,
._48112cbe77dc5022-folderIcon._48112cbe77dc5022-folderIcon:hover {
    background: none;
}

//  folder material icon hover/open
._48112cbe77dc5022-folderIcon:hover svg path {
    d: path("M20 6h-8l-2-2H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 12H4V8h16v10z");
}

// last item in folder hover
ul[id*=folder-items] ._650eb104245d257b-listItem:last-child .cc5dd25190031396-wrapper::after {
    height: 62px;
    border-radius: 0 0 30px 30px;
}

