@use "../../elevations";

// Guild list bg color
.guilds_c48ade.guilds_c48ade {
    z-index: elevations.$guilds-elevation;
    margin: 0;
    background: var(--nox-level1);
    box-shadow: elevations.$elevation-shadow;
}

// set width correctly width
.guilds_c48ade.guilds_c48ade, //list
.listItem__650eb, //servers
.folderGroup__48112, // folders
.unreadMentionsIndicatorBottom_ef3116, // unreadmentions
.unreadMentionsIndicatorTop_ef3116 { // unreadmentions
    width: 70px;
}

// fix spacing on folder bg
.folderGroupBackground__48112 {
    right: 0;
    left: 0;
    justify-self: center;
}
// fix folder height
ul[id*=folder-items] {
    height: auto !important;
}

// reset scroller
.guilds_c48ade .scroller_ef3116 {
    height: 100%;
    padding: 0;
    gap: 0 !important;
}

// prevent overlap of homeicon and servers
.tutorialContainer__1f388 + .stack_dbd263 {
    margin-top: 0;
}

// make dms same height as servers
#guild-list-unread-dms>div[style^="opacity: 1"] {
    height: 70px !important;
}

// remove gap between servers, and dms
.stack_dbd263[aria-label="Servers"],
#guild-list-unread-dms {
    gap: 0 !important;
}

// remove move down on click
.listItemWrapper__91816:active {
    transform: none;
}

// recolor closed folders
.folderPreviewWrapper__48112.folderPreviewWrapper__48112 {
    background: var(--nox-white2);
    .folderPreviewGuildIcon__48112 {
        border-radius: 50% !important;
    }
}

// folder color to accent
.folderIcon__48112 {
    color: var(--nox-accent) !important;
}

// recolor open folders and shape them
.folderGroupBackground__48112.folderGroupBackground__48112 {
    bottom: 8px;
    box-sizing: content-box;
    width: 48px;
    padding: 6px;
    border: 0;
    border-radius: 16px 16px 30px 30px;
    background: var(--nox-white1) !important;
}

// recolor guild separator
.guildSeparator__252b6.guildSeparator__252b6 {
    background: var(--nox-white1);
}

// unset height for guild separator
#guild-list-unread-dms+.listItem__650eb {
    height: unset;
}

// increase clicking area servers
.wrapper_cc5dd2 {
    width: 70px !important;
    height: 70px !important;
}
.svg_cc5dd2 {
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
}
.listItem__650eb .svg_cc5dd2 foreignObject {
    width: 48px;
    height: 48px;
    transform: translate(-4px, -4px);
    mask: none;
}
.wrapper__6e9f8 {
    width: 48px;
    height: 48px;
}
// scale icon back down
.icon__6e9f8 {
    transform: scale(calc((48*52)/(70*44)));
    border-radius: 50%;
}

// increase clicking area folder
.folderHeader__48112 {
    width: 70px;
    height: 70px;
    margin: 0;
}
.folderButton__48112.folderButton__48112 {
    width: 70px;
    height: 70px;
    padding: 0;
    border-radius: 0;
}
.folderButton__48112 .svg_cc5dd2 foreignObject {
    width: 44px;
    height: 44px;
    transform: none;
}
// scale icons back down
// .folderIconWrapper__48112 {
//     transform: scale(calc(48/70));
// }
.folderPreviewWrapper__48112.folderPreviewWrapper__48112 {
    overflow: hidden;
    transform: scale(calc(48/70));
    border-radius: 50%;
}

// remove gap between servers in folder
.folderGuildsList__48112 {
    gap: 0 !important;
}

// Home button and circle buttons
.childWrapper__6e9f8.childWrapper__6e9f8.childWrapper__6e9f8,
.circleIconButton__5bc7e {
    transform: scale(calc((48*52)/(70*44)));
    border-radius: 50%;
    background-color: var(--nox-level2);
}

// center text on iconless servers
.acronym__6e9f8 {
    line-height: unset;
}

.circleIconButton__5bc7e {
    translate: 4px 4px;
    color: var(--nox-accent);
}

// change blurple to accent bg
.wrapper__6e9f8.selected__6e9f8 .childWrapper__6e9f8, // home icon and iconless guilds
.circleIconButton__5bc7e.circleIconButton__5bc7e.circleIconButton__5bc7e.selected__5bc7e { // add server and discovery
    background-color: var(--nox-accent);
}

// remove server icon background
.icon__6e9f8::before {
    content: none;
}

.folderGroup__48112.isExpanded__48112>.listItem__650eb {
    height: 60px;
}

// folder material icon
.folderIcon__48112 svg path {
    d: path("M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z");
}

// make material icon bigger
.folderIcon__48112 svg {
    scale: (calc((48*44)/(70*18)));
}

// dragging position indicator green to accent
.centerTarget_d144f8.dragOver_d144f8::before, /* combine server*/
.target_d144f8.dragOver_d144f8::before { // above server
    background-color: var(--nox-accent);
}


// BADGES

// alignment of badges
.lowerBadge_cc5dd2,
.upperBadge_cc5dd2 {
    display: flex;
    z-index: calc(elevations.$guilds-elevation + 1);
    top: calc((100% - 48px) / 2);
    left: calc((100% - 48px) / 2);
    justify-content: flex-end;
    width: 48px;
    height: 48px;
}

.lowerBadge_cc5dd2 {
    align-items: flex-end;
}

.upperBadge_cc5dd2 {
    align-items: flex-start;
}

// in call background green to accent
.iconBadge__650eb.participating-2Z81oO {
    background-color: var(--nox-accent);
}

// recolor call available background
.iconBadge__650eb {
    background-color: var(--nox-level1-5);
}

// recolor ping icon
.numberBadge__40d6f {
    background-color: var(--nox-important-notification) !important;
}

.blobContainer_e5445c.blobContainer_e5445c[data-drop-hovering=true] {
    animation: none;
    border-radius: 50%;
    border-color: var(--nox-accent);
    background-color: transparent;
}