@use "../../elevations";

:root {
    --guildbar-avatar-size: 48px
}

// Guild list bg color
._5e434347c823b592-guilds._5e434347c823b592-guilds {
    z-index: elevations.$guilds-elevation;
    margin: 0;
    background: var(--nox-level1);
    box-shadow: elevations.$elevation-shadow;
}

// set width correctly width
._5e434347c823b592-guilds._5e434347c823b592-guilds, //list
._650eb104245d257b-listItem, //servers
._48112cbe77dc5022-folderGroup, // folders
.ef3116c2da186559-unreadMentionsIndicatorBottom, // unreadmentions
.ef3116c2da186559-unreadMentionsIndicatorTop { // unreadmentions
    width: 70px;
}

// fix spacing on folder bg
._48112cbe77dc5022-folderGroupBackground {
    right: 0;
    left: 0;
    justify-self: center;
}
// fix folder height
ul[id*=folder-items] {
    height: auto !important;
}

// reset scroller
._5e434347c823b592-guilds .ef3116c2da186559-scroller {
    height: 100%;
    padding: 0;
    gap: 0 !important;
}

// prevent overlap of homeicon and servers
._1f388bcaa446c0c8-tutorialContainer {
    & ._650eb104245d257b-listItem {
        height: 70px;
    }
    & + .dbd2630aec71879b-stack{
        margin-top: 0;
    }
}

// make dms same height as servers
#guild-list-unread-dms>div[style^="opacity: 1"] {
    height: 70px !important;
}

// remove gap between servers, and dms
.dbd2630aec71879b-stack[aria-label="Servers"],
#guild-list-unread-dms {
    gap: 0 !important;
}

// remove move down on click
._918165dab2b1e10b-listItemWrapper:active {
    transform: none;
}

// recolor closed folders
._48112cbe77dc5022-folderPreviewWrapper._48112cbe77dc5022-folderPreviewWrapper {
    background: var(--nox-white2);
    ._48112cbe77dc5022-folderPreviewGuildIcon {
        border-radius: 50% !important;
    }
}

// folder color to accent
._48112cbe77dc5022-folderIcon {
    color: var(--nox-accent);
}

// recolor open folders and shape them
._48112cbe77dc5022-folderGroupBackground._48112cbe77dc5022-folderGroupBackground {
    bottom: 8px;
    box-sizing: content-box;
    width: 48px;
    padding: 6px;
    border: 0;
    border-radius: 16px 16px 30px 30px;
    background: var(--nox-white1) !important;
}

// recolor guild separator
._252b6afd49fda06f-guildSeparator._252b6afd49fda06f-guildSeparator {
    background: var(--nox-white1);
}

// unset height for guild separator
#guild-list-unread-dms+._650eb104245d257b-listItem {
    height: unset;
}

// increase clicking area servers
:is(.e5445cbd3ad226f2-blobContainer, ._918165dab2b1e10b-listItemWrapper) > .cc5dd25190031396-wrapper {
    width: 70px !important;
    height: 70px !important;
}

foreignObject > .cc5dd25190031396-wrapper {
    width: 48px !important;
    height: 48px !important;
}

.cc5dd25190031396-svg {
    top: 0;
    left: 0;
    :is(.e5445cbd3ad226f2-blobContainer, ._918165dab2b1e10b-listItemWrapper) > .cc5dd25190031396-wrapper > & {
        width: 70px;
        height: 70px;
    }
}
._650eb104245d257b-listItem .cc5dd25190031396-svg foreignObject {
    width: 48px;
    height: 48px;
    translate: -4px -4px;
    mask: none;
}
._6e9f8dce4cc18de3-wrapper {
    width: 48px;
    height: 48px;
}
// scale icon back down
._6e9f8dce4cc18de3-icon {
    scale: calc(48/70);
    border-radius: 50%;
}

// increase clicking area folder
._48112cbe77dc5022-folderHeader {
    width: 70px;
    height: 70px;
    margin: 0;
}
._48112cbe77dc5022-folderButton {
    width: 70px;
    height: 70px;
    padding: 0;
    border-radius: 0;

    .cc5dd25190031396-wrapper {
        margin-inline:auto;
        top:50%;
        translate: 0 -50%;
    }
    .cc5dd25190031396-svg foreignObject {
        translate: none;
    }
}
._48112cbe77dc5022-folderPreviewWrapper {
    overflow: hidden;
    border-radius: 50%;
}

// remove gap between servers in folder
._48112cbe77dc5022-folderGuildsList {
    gap: 0 !important;
}

._6e9f8dce4cc18de3-childWrapper,
._5bc7ed9d4097f6b5-circleIconButton {
    transform: scale(calc(48/70));
    border-radius: 50%;
    background-color: var(--nox-level2);
}

// center text on iconless servers
._6e9f8dce4cc18de3-acronym {
    line-height: unset;
}

._5bc7ed9d4097f6b5-circleIconButton {
    color: var(--nox-accent);
}

// change blurple to accent bg
._6e9f8dce4cc18de3-wrapper._6e9f8dce4cc18de3-selected ._6e9f8dce4cc18de3-childWrapper, // home icon and iconless guilds
._5bc7ed9d4097f6b5-circleIconButton._5bc7ed9d4097f6b5-circleIconButton._5bc7ed9d4097f6b5-circleIconButton._5bc7ed9d4097f6b5-selected { // add server and discovery
    background-color: var(--nox-accent);
}

// remove server icon background
._6e9f8dce4cc18de3-icon::before {
    content: none;
}

._48112cbe77dc5022-folderGroup._48112cbe77dc5022-isExpanded>._650eb104245d257b-listItem {
    height: 60px;
}

// folder material icon
._48112cbe77dc5022-folderIcon svg path {
    d: path("M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z");
}

// make material icon bigger
._48112cbe77dc5022-folderIcon svg {
    scale: calc(48/18);
}

// dragging position indicator green to accent
.d144f8d4075c78d6-centerTarget.d144f8d4075c78d6-dragOver::before, /* combine server*/
.d144f8d4075c78d6-target.d144f8d4075c78d6-dragOver::before { // above server
    background-color: var(--nox-accent);
}


// BADGES

// alignment of badges
.cc5dd25190031396-lowerBadge,
.cc5dd25190031396-upperBadge {
    display: flex;
    z-index: calc(elevations.$guilds-elevation + 1);
    top: calc((100% - 48px) / 2);
    left: calc((100% - 48px) / 2);
    justify-content: flex-end;
    width: 48px;
    height: 48px;
}

.cc5dd25190031396-lowerBadge {
    align-items: flex-end;
}

.cc5dd25190031396-upperBadge {
    align-items: flex-start;
}

// in call background green to accent
._650eb104245d257b-iconBadge.participating-2Z81oO {
    background-color: var(--nox-accent);
}

// recolor call available background
._650eb104245d257b-iconBadge {
    background-color: var(--nox-level1-5);
}

// recolor ping icon
.numberBadge__40d6f {
    background-color: var(--nox-important-notification) !important;
}

.e5445cbd3ad226f2-blobContainer.e5445cbd3ad226f2-blobContainer[data-drop-hovering=true] {
    animation: none;
    border-radius: 50%;
    border-color: var(--nox-accent);
    background-color: transparent;
}