name: update import
on:
  push:
    branches:
    - master
    paths:
    - 'src/**'

jobs:
  build-and-commit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - run: npm ci
      - run: npm run import
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: update import.css
          file_pattern: 'release/import.css'
          commit_author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>