name: automatic class updater
on:
  schedule:
    - cron: '15 3 * * *'
  workflow_dispatch:
env:
  GH_TOKEN: ${{ github.token }}

jobs:
  check-for-updates:
    runs-on: ubuntu-latest
    outputs:
      needs-reroll: ${{ steps.check-updates.outputs.needs-reroll }}
    steps:
      - uses: actions/checkout@v6

      - name: check if Changes.txt has been updated since the previous class reroll
        id: check-updates
        run: |
          recent_commit=$(gh api -XGET /repos/syndishanx/update-classes/commits -f path=Changes.txt --jq ".[0].sha")
          echo "Last commit to Changes.txt was $recent_commit"
          echo "needs-reroll=[[ $recent_commit != $(cat .github/workflow_data/previous-commit)]]" >> "$GITHUB_OUTPUT"

  reroll-classes:
    runs-on: ubuntu-latest
    needs: check-for-updates
    if: ${{ needs.check-for-updates.outputs.needs-reroll }}

    steps:
      - name: checkout current repository
        uses: actions/checkout@v6

      - name: grab class mappings
        run: |
          if [[ ! -s ".github/workflow_data/previous-reroll" ]]; then
              echo "Previous re-roll commit does not exist. Fetching full class mapping"
          else
              echo "Found previous re-roll commit. Fetching partial class mapping"
              # TODO: Need to figure this part out.
          fi
          'gh api -H "accept: application/vnd.github.raw" /repos/syndishanx/update-classes/contents/Changes.txt > Changes.txt'

      - name: grab class updater utility
        run: 'gh api -H "accept: application/vnd.github.raw" /repos/epic1online/recursive-discord-class-updater/contents/RDCU.js > RDCU.js'

      - name: setup node
        uses: actions/setup-node@v6

      - name: update classes
        run: node RDCU.js

      - name: store commit hash
        run: echo $(gh api -XGET /repos/syndishanx/update-classes/commits -f path=Changes.txt --jq ".[0].sha") | install -D /dev/stdin .github/workflow_data/previous-reroll

      - name: clean up
        run: git clean -ffde ".github"

      - name: create pr
        uses: peter-evans/create-pull-request@v8
        with:
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          branch: class-reroll
          delete-branch: true
          title: Automated class reroll
          commit-message: class reroll
