name: automated class reroll updater
on:
  schedule:
    - cron: '15 3 * * *'
  workflow_dispatch:
env:
  GH_TOKEN: ${{ github.token }}

jobs:
  check-for-updates:
    runs-on: ubuntu-latest
    outputs:
      needs-updating: ${{ steps.check.outputs.needs-updating }}
      newest-hash: 
    steps:
      - uses: actions/checkout@v6

      - name: check if Changes.txt has been updated since the previous class reroll
        id: check
        run: |
          newest_hash=$(gh api -XGET /repos/syndishanx/update-classes/commits -f path=Changes.txt --jq ".[0].sha")
          echo "Last commit to Changes.txt was $newest_hash"

          if [[ ! -e .github/workflow_data/previous-hash || ! $newest_hash == $(cat .github/workflow_data/previous-hash) ]]; then
              needs_updating=true
          else
              needs_updating=false
          fi

          echo "needs-updating=$needs_updating" >> "$GITHUB_OUTPUT"
          echo "newest-hash=$newest_hash" >> "$GITHUB_OUTPUT"

  reroll-classes:
    runs-on: ubuntu-latest
    needs: check-for-updates
    if: ${{ needs.check-for-updates.outputs.needs-updating == 'true' }}

    steps:
      - name: checkout current repository
        uses: actions/checkout@v6

      - name: grab class mappings
        run: |
          if [[ ! -d ".github/workflow_data" || ! -s ".github/workflow_data/previous-hash" ]]; then
              echo "Previous re-roll commit does not exist. Fetching full class mapping"
              gh api -H "accept: application/vnd.github.raw" /repos/syndishanx/update-classes/contents/Changes.txt > Changes.txt
          else
              echo "Found previous re-roll commit. Fetching partial class mapping"
              diff=$(gh api -H 'accept:application/vnd.github+json' /repos/syndishanx/update-classes/compare/$(cat .github/workflow_data/previous-hash)...${{ needs.check-for-updates.outputs.newest-hash }} --jq '.files.[] | select(.filename == "Changes.txt").patch')
              
              last_deletion=$(grep '^-' DIFF_FILE | tail -n 1 | cut -c 2-)
              grep '^+' DIFF_FILE | awk -v last=$last_deletion '{ $0=substr($0,2) } NR!=1 || $0!=last { print }' > Changes.txt
          fi

      - name: grab class updater utility
        run: 'gh api -H "accept: application/vnd.github.raw" /repos/epic1online/recursive-discord-class-updater/contents/RDCU.js > RDCU.js'

      - name: setup node
        uses: actions/setup-node@v6

      - name: update classes
        run: node RDCU.js

      - name: store commit hash
        run: echo ${{ needs.check-for-updates.outputs.newest-hash }} | install -D /dev/stdin .github/workflow_data/previous-hash

      - name: clean up
        run: git clean -ffde ".github"

      - name: create pr
        uses: peter-evans/create-pull-request@v8
        with:
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          branch: class-reroll
          delete-branch: true
          title: Automated class reroll update
          commit-message: class reroll